<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>顧客管理</h2>
	<ul>
		<li>${INFO_MESSAGE}</li>
	</ul>
	<form action="${INFO_FILE}" method="get" class="search">
		<fieldset>
			<legend>検索フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="customer" />
			<dl>
				<dt>キーワード</dt>
					<dd><input type="text" name="word" size="30" value="${FORM_WORD}" /></dd>
				<dt>検索条件</dt>
					<dd>
						<select name="cond" xml:lang="ja" lang="ja">
							<option value="and"${FORM_COND_AND}>AND検索</option>
							<option value="or"${FORM_COND_OR}>OR検索</option>
						</select>
					</dd>
			</dl>
			<p><input type="submit" value="検索する" /></p>
		</fieldset>
	</form>
	<form action="${INFO_FILE}" method="post">
		<fieldset>
			<legend>顧客情報管理フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="customer" />
			<p>
				<input type="submit" name="exec_form" value="編集する" />
				<input type="submit" name="exec_confirm" value="削除する" />
				<input type="reset" value="リセット" />
			</p>
<!--SKIN_CONTENTS_END-->

<!--SKIN_CUSTOMER_HEAD_START-->
			<table summary="コメント一覧">
				<tr>
					<th>編集</th>
					<th>削除</th>
					<th>最終利用日時</th>
					<th>名前</th>
					<th>Ｅメール</th>
					<th>ホスト</th>
					<th>状態</th>
				</tr>
<!--SKIN_CUSTOMER_HEAD_END-->

	<!--SKIN_CUSTOMER_START-->
				<tr>
					<td><input type="radio" name="edit" value="${CUSTOMER_MAIL}" /></td>
					<td><input type="checkbox" name="del" value="${CUSTOMER_MAIL}" /></td>
					<td>${CUSTOMER_YEAR}/${CUSTOMER_MONTH}/${CUSTOMER_DAY} ${CUSTOMER_HOUR}:${CUSTOMER_MINUTE}</td>
					<td>${CUSTOMER_NAME}</td>
					<td>${CUSTOMER_MAIL}</td>
					<td>${CUSTOMER_HOST}</td>
					<td><a href="${INFO_FILE}?mode=admin&amp;work=customer&amp;stat=${CUSTOMER_CODE}&amp;exec_confirm=on">${CUSTOMER_STAT}</a></td>
				</tr>
	<!--SKIN_CUSTOMER_END-->

<!--SKIN_CUSTOMER_FOOT_START-->
			</table>
<!--SKIN_CUSTOMER_FOOT_END-->

<!--SKIN_PAGE_START-->
		</fieldset>
	</form>
</div>
<div id="navi">
	<h2>ページ移動</h2>
	<form action="${INFO_FILE}" method="get">
		<fieldset>
			<legend>ページ移動フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="customer" />
			<input type="hidden" name="word" value="${FORM_WORD}" />
			<input type="hidden" name="cond" value="${FORM_COND}" />
			<dl>
				<dt>表示ページ</dt>
					<dd>
						<select name="page" xml:lang="ja" lang="ja">
							${PAGE_LIST}
						</select>
					</dd>
			</dl>
			<p><input type="submit" value="移動する" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_PAGE_END-->
