<!--SKIN_FORM_START-->
<div id="order">
	<h2>お客様情報編集</h2>
	<ul>
		<li>お客様情報を入力して<em>編集ボタン</em>を押してください。</li>
		<li><em><abbr title="入力必須">*</abbr></em> の付いた項目は入力必須項目です。</li>
	</ul>
	<form action="${INFO_FILE}" method="post">
		<h3>ご注文情報</h3>
		<fieldset>
			<legend>ご注文情報編集フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="customer" />
			<input type="hidden" name="edit" value="${FORM_LOGIN_MAIL}" />
			<dl>
				<dt>お支払方法</dt>
					<dd>
						<select name="payment" xml:lang="ja" lang="ja">
							<option value="">選択してください</option>
							${FORM_PAYMENT}
						</select>
					</dd>
				<!--FORM_DELIVERY_START-->
				<dt>配達方法</dt>
					<dd>
						<select name="delivery" xml:lang="ja" lang="ja">
							<option value="">選択してください</option>
							${FORM_DELIVERY}
						</select>
					</dd>
				<!--FORM_DELIVERY_END-->
			</dl>
		</fieldset>
		<h3>お客様情報</h3>
		<fieldset>
			<legend>お客様情報入力フォーム</legend>
			<dl>
				<dt>名前 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_name" size="30" value="${FORM_ORDER_NAME}" /></dd>
				<dt>ふりがな <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_kana" size="30" value="${FORM_ORDER_KANA}" /></dd>
				<dt>Ｅメール <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_mail" size="30" value="${FORM_ORDER_MAIL}" /></dd>
				<dt>郵便番号 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_post" size="10" value="${FORM_ORDER_POST}" /></dd>
				<dt>都道府県 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd>
						<select name="order_pref" xml:lang="ja" lang="ja">
							<option value="">選択してください</option>
							${FORM_ORDER_PREF}
						</select>
					</dd>
				<dt>住所 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_addr" size="60" value="${FORM_ORDER_ADDR}" /></dd>
				<dt>電話番号 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_phone" size="30" value="${FORM_ORDER_PHONE}" /></dd>
				<dt>FAX番号</dt>
					<dd><input type="text" name="order_fax" size="30" value="${FORM_ORDER_FAX}" /></dd>
			</dl>
		</fieldset>
		<h3>配送先情報</h3>
		<fieldset>
			<legend>配送先情報入力フォーム</legend>
			<dl>
				<dt>名前</dt>
					<dd><input type="text" name="send_name" size="30" value="${FORM_SEND_NAME}" /></dd>
				<dt>ふりがな</dt>
					<dd><input type="text" name="send_kana" size="30" value="${FORM_SEND_KANA}" /></dd>
				<dt>郵便番号</dt>
					<dd><input type="text" name="send_post" size="10" value="${FORM_SEND_POST}" /></dd>
				<dt>都道府県</dt>
					<dd>
						<select name="send_pref" xml:lang="ja" lang="ja">
							<option value="">選択してください</option>
							${FORM_SEND_PREF}
						</select>
					</dd>
				<dt>住所</dt>
					<dd><input type="text" name="send_addr" size="60" value="${FORM_SEND_ADDR}" /></dd>
				<dt>電話番号</dt>
					<dd><input type="text" name="send_phone" size="30" value="${FORM_SEND_PHONE}" /></dd>
				<dt>FAX番号</dt>
					<dd><input type="text" name="send_fax" size="30" value="${FORM_SEND_FAX}" /></dd>
			</dl>
		</fieldset>
		<!--FORM_POINT_START-->
		<h3>その他</h3>
		<fieldset>
			<legend>その他の情報入力フォーム</legend>
			<dl>
				<dt>ポイント</dt>
					<dd><input type="text" name="point" size="10" value="${FORM_POINT}" /></dd>
			</dl>
		</fieldset>
		<!--FORM_POINT_END-->
		<p><input type="submit" name="exec_regist" value="編集する" /></p>
	</form>
</div>
<!--SKIN_FORM_END-->
