<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>商品編集</h2>
	<ul>
		<li>${INFO_MESSAGE}</li>
	</ul>
	
	<form action="${INFO_FILE}" method="post">
		<fieldset>
			<legend>登録商品編集フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="edit" />
			<p>
				<input type="submit" name="exec_form" value="編集する" />
				<input type="submit" name="exec_confirm" value="削除する" />
				<input type="reset" value="リセット" />
			</p>
<!--SKIN_CONTENTS_END-->

<!--SKIN_CATALOG_HEAD_START-->
			<table summary="登録商品一覧">
				<tr>
					<th>編集</th>
					<th>削除</th>
					<th>No</th>
					<th>日時</th>
					<th>登録者</th>
					<th>商品名</th>
					<th>商品ID</th>
					
					<th>状態</th>
				</tr>
<!--SKIN_CATALOG_HEAD_END-->

	<!--SKIN_CATALOG_START-->
				<tr>
					<td><input type="radio" name="edit" value="${ARTICLE_NO}" /></td>
					<td><input type="checkbox" name="del" value="${ARTICLE_NO}" /></td>
					<td>${ARTICLE_NO}</td>
					<td>${ARTICLE_YEAR}/${ARTICLE_MONTH}/${ARTICLE_DAY} ${ARTICLE_HOUR}:${ARTICLE_MINUTE}</td>
					<td>${ARTICLE_NAME}</td>
					<td>${ARTICLE_SUBJ}</td>
					<td>${ARTICLE_ID}</td>
					
					<td>${ARTICLE_STAT}</td>
				</tr>
	<!--SKIN_CATALOG_END-->

<!--SKIN_CATALOG_FOOT_START-->
			</table>
<!--SKIN_CATALOG_FOOT_END-->

<!--SKIN_PAGE_START-->
		</fieldset>
	</form>
</div>
<div id="navi">
	<h2>ページ移動</h2>
	<form action="${INFO_FILE}" method="get">
		<fieldset>
			<legend>ページ移動フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="edit" />
			<input type="hidden" name="word" value="${FORM_WORD}" />
			<input type="hidden" name="cond" value="${FORM_COND}" />
			<dl>
				<dt>表示ページ</dt>
					<dd>
						<select name="page" xml:lang="ja" lang="ja">
							${PAGE_LIST}
						</select>
					</dd>
			</dl>
			<p><input type="submit" value="移動する" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_PAGE_END-->
