<!--SKIN_CONTENTS_START-->
<div id="env">
	<h2>オプション設定</h2>
	<ul>
		<li>${INFO_MESSAGE}</li>
		<li>オプションID、オプション名、入力形式を入力して<em>追加ボタン</em>を押してください。</li>
	</ul>
	<form action="${INFO_FILE}" method="post">
		<fieldset>
			<legend>オプション設定フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="option" />
			<dl>
				<dt>オプションID</dt>
					<dd><input type="text" name="id" size="20" value="" /></dd>
				<dt>オプション名</dt>
					<dd><input type="text" name="name" size="30" value="" /></dd>
				<dt>入力形式</dt>
					<dd>
						<select name="type" xml:lang="ja" lang="ja">
							${FORM_TYPE}
						</select>
					</dd>
				<dt>初期値</dt>
					<dd><textarea name="default" cols="30" rows="3"></textarea></dd>
			</dl>
			<p><input type="submit" name="exec_add" value="追加する" /></p>
		</fieldset>
	</form>
<!--SKIN_CONTENTS_END-->

<!--SKIN_OPTION_HEAD_START-->
	<h2>オプション管理</h2>
	<ul>
		<li>登録されているオプションは以下のとおりです。</li>
		<li>設定を変更する場合、変更内容を入力して<em>編集ボタン</em>を押してください。</li>
	</ul>
	<form action="${INFO_FILE}" method="post">
		<fieldset>
			<legend>オプション設定フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="option" />
			<p><input type="submit" name="exec_edit" value="編集する" /></p>
			<table summary="オプション一覧">
				<tr>
					<th>オプションID</th>
					<th>オプション名</th>
					<th>入力形式</th>
					<th>初期値</th>
					<th>移動元</th>
					<th>移動先</th>
					<th>削除</th>
				</tr>
<!--SKIN_OPTION_HEAD_END-->

	<!--SKIN_OPTION_START-->
				<tr>
					<td><input type="text" name="id${OPTION_NO}" size="10" value="${OPTION_ID}" /></td>
					<td><input type="text" name="name${OPTION_NO}" size="15" value="${OPTION_NAME}" /></td>
					<td>${OPTION_TYPE}</td>
					<td><textarea name="default${OPTION_NO}" cols="20" rows="3">${OPTION_DEFAULT}</textarea></td>
					<td><input type="radio" name="from" value="${OPTION_NO}" /></td>
					<td><input type="radio" name="to" value="${OPTION_NO}" /></td>
					<td><input type="checkbox" name="del${OPTION_NO}" value="on" /></td>
				</tr>
	<!--SKIN_OPTION_END-->

<!--SKIN_OPTION_FOOT_START-->
			</table>
		</fieldset>
	</form>
</div>
<!--SKIN_OPTION_FOOT_END-->
