<!--SKIN_CONTENTS_START-->
<div id="status">
	<h2>ステータス</h2>
	<ul>
		<li>${INFO_TITLE}の最新状態を表示しています。</li>
		<li>商品の登録は<a href="${INFO_FILE}?mode=admin&amp;work=new">新規登録</a>から行う事ができます。</li>
		<!--INFO_USER_START--><li>ユーザー <em>${INFO_USER}</em> でログインしています。</li><!--INFO_USER_END-->
	</ul>
	<h3>ログ件数</h3>
	<dl>
		<dt>商品件数</dt>
			<dd><em>${STATUS_CATALOG_SIZE}</em>件（非公開<em>${STATUS_CATALOG_HIDDEN_SIZE}</em>件） ... <a href="${INFO_FILE}?mode=admin&amp;work=edit">商品一覧を表示</a></dd>
		
	</dl>
	<h3>ファイルサイズ</h3>
	<dl>
		<dt>商品</dt>
			<dd><em>${STATUS_CATALOG_FILE_SIZE}</em>KB</dd>
		
		<dt>アップロードファイル</dt>
			<dd><em>${STATUS_UPFILE_FILE_SIZE}</em>KB</dd>
		<!--STATUS_ARCHIVE_START-->
		<dt>アーカイブファイル</dt>
			<dd><em>${STATUS_ARCHIVE_FILE_SIZE}</em>KB</dd>
		<!--STATUS_ARCHIVE_END-->
	</dl>
</div>
<!--SKIN_CONTENTS_END-->
