<!--SKIN_FORM_HEAD_START-->
<div id="form">
	<h2>${FORM_LABEL}</h2>
	<ul>
		<li>${INFO_MESSAGE}</li>
	</ul>
	<form action="${INFO_FILE}" method="post" enctype="multipart/form-data" id="catalog_form">
		<fieldset>
			<legend>登録フォーム</legend>
			<input type="hidden" name="mode" value="admin" />
			<input type="hidden" name="work" value="${FORM_WORK}" />
			<input type="hidden" name="edit" value="${FORM_NO}" />
        <div class="form_wrt clearfix">
			<dl>
				<dt>商品名</dt>
					<dd><input type="text" name="subj" size="40" value="${FORM_SUBJ}" /></dd>
				<dt>商品ID</dt>
					<dd><input type="text" name="id" size="20" value="${FORM_ID}" /></dd>
				<dt>登録日時</dt>
					<dd>${FORM_DATE}</dd>
				<!--FORM_FIELD_START-->
				<dt>カテゴリ</dt>
					<dd>${FORM_FIELD}</dd>
				<!--FORM_FIELD_END-->
				
				<dt>紹介文</dt>
					<dd><textarea name="text" cols="60" rows="15">${FORM_TEXT}</textarea></dd>
				<!--FORM_IMAGE_START-->
				<dt>メイン画像</dt>
					<dd><input type="file" name="image" size="30" />${FORM_IMAGE}</dd>
				<!--FORM_IMAGE_END-->
				<dt>価格</dt>
					<dd><input type="text" name="price" size="10" value="${FORM_PRICE}" />円</dd>
                
				<!--FORM_STOCK_START-->     
				<dt>在庫数</dt>
					<dd><input type="text" name="stock" size="10" value="${FORM_STOCK}" /></dd>
				<!--FORM_STOCK_END-->
				<!--FORM_RELATE_START-->
				<dt>関連商品</dt>
					<dd><textarea name="relate" cols="60" rows="3">${FORM_RELATE}</textarea></dd>
				<!--FORM_RELATE_END-->
				<!--FORM_TBURL_START-->
				<dt>Trackback URL</dt>
					<dd><textarea name="tb_url" cols="60" rows="3">${FORM_TBURL}</textarea></dd>
				<!--FORM_TBURL_END-->
				<!--FORM_NAME_START-->
				<dt>登録者ID</dt>
					<dd>${FORM_NAME}</dd>
				<!--FORM_NAME_END-->
			</dl>
        </div>
<!--SKIN_FORM_HEAD_END-->

<!--SKIN_FILE_HEAD_START-->
        <div class="form_wrt clearfix">
			<dl>
<!--SKIN_FILE_HEAD_END-->

	<!--SKIN_FILE_START-->
				<dt>${FILE_TITLE}</dt>
					<dd>${FILE_VALUE}</dd>
	<!--SKIN_FILE_END-->

<!--SKIN_FILE_FOOT_START-->
			</dl>
        </div>
<!--SKIN_FILE_FOOT_END-->

<!--SKIN_OPTION_HEAD_START-->
        <div class="form_wrt clearfix">
			<dl>
<!--SKIN_OPTION_HEAD_END-->

	<!--SKIN_OPTION_START-->
				<dt>${OPTION_TITLE}</dt>
					<dd>${OPTION_VALUE}</dd>
	<!--SKIN_OPTION_END-->

<!--SKIN_OPTION_FOOT_START-->
			</dl>
        </div>
<!--SKIN_OPTION_FOOT_END-->

<!--SKIN_FORM_FOOT_START-->
			<ul>
				<li><input type="checkbox" name="stat" id="stat_checkbox" value="1"${FORM_STAT} /> <label for="stat_checkbox">商品を公開する</label></li>
				<li><input type="checkbox" name="break" id="break_checkbox" value="1"${FORM_BREAK} /> <label for="break_checkbox">改行を変換する</label></li>
				
				

			</ul>
			<p>
				<input type="submit" name="exec_preview" value="確認する" />
				<input type="submit" name="exec_regist" value="登録する" />
			</p>
		</fieldset>
	</form>
</div>
<!--SKIN_FORM_FOOT_END-->
