<!--SKIN_CART_HEAD_START-->
<div id="contents">
	<h2>ショッピングカート</h2>
	<ul>
		<li>ショッピングカートの内容は以下の通りです。</li>
	</ul>
	<form action="${INFO_PATH}" method="post">
		<fieldset>
			<legend>ショッピングカート</legend>
			<input type="hidden" name="mode" value="cart" />
			<input type="hidden" name="work" value="update" />
			<table summary="カート内容一覧">
				<tr>
					<th>商品コード</th>
					<th>商品名</th>
					<th>単価</th>
					<th>数量</th>
					<th>金額</th>
					<th>削除</th>
				</tr>
<!--SKIN_CART_HEAD_END-->

	<!--SKIN_CART_START-->
				<tr>
					<td>${ARTICLE_ID}</td>
					<td><a href="${ARTICLE_URL}">${ARTICLE_SUBJ}</a><!--CART_OPTION_START--> （${CART_OPTION}）<!--CART_OPTION_END--></td>
					<td class="price">${ARTICLE_PRICE}円</td>
					<td>${CART_AMOUNT}</td>
					<td class="price">${CART_FEE}円</td>
					<td><a href="${INFO_PATH}?mode=cart&amp;work=del&amp;no=${CART_NO}">削除</a></td>
				</tr>
	<!--SKIN_CART_END-->

	<!--SKIN_VOID_START-->
				<tr>
					<td colspan="6">現在、カートには何も入っていません。</td>
				</tr>
	<!--SKIN_VOID_END-->

<!--SKIN_CART_FOOT_START-->
			</table>
			<table summary="お支払い料金一覧">
				<tr>
					<th>小計</th>
					<td class="price">${CART_SUBTOTAL}円</td>
				</tr>
			</table>
			<!--CART_GOODS_START-->
			<p>
				<input type="submit" value="カートを更新する" class="button" />
				<input type="button" value="カートを空にする" class="button" onclick="window.location='${INFO_PATH}?mode=cart&amp;work=clear'" onkeypress="window.location='${INFO_PATH}?mode=cart&amp;work=clear'" />
			</p>
			<!--CART_GOODS_END-->
		</fieldset>
	</form>
	<!--CART_FREE_START-->
	<ul>
		<li><strong>お買い上げ金額が${CART_FREE}円以上なので、送料が無料になります。</strong></li>
	</ul>
	<!--CART_FREE_END-->
	<!--CART_FREE_OFF_START-->
	<ul>
		<li><strong>お買い上げ金額があと${CART_FREE}円で、送料が無料になります。</strong></li>
	</ul>
	<!--CART_FREE_OFF_END-->
	<!--CART_GOODS_START-->
	<ul>
		<li>数量を変更するには、各商品の数量を設定した後<em>カートを更新する</em>ボタンを押してください。</li>
		<li>商品を購入するには、<em>注文画面へ進む</em>ボタンを押してください。</li>
	</ul>
	<!--CART_GOODS_END-->
	<form action="${INFO_SSL}" method="post">
		<fieldset>
			<legend>ショッピングカート</legend>
			<input type="hidden" name="mode" value="order" />
			<input type="hidden" name="goods" value="${CART_GOODS}" />
			<p>
				<input type="button" value="買い物を続ける" class="button" onclick="window.location='${INFO_PATH}'" onkeypress="window.location='${INFO_PATH}'" />
				<!--CART_GOODS_START-->
				<input type="submit" value="注文画面へ進む" class="button" />
				<!--CART_GOODS_END-->
			</p>
		</fieldset>
	</form>
</div>
<!--SKIN_CART_FOOT_END-->
