@charset 'utf-8';

/* ----- HTML再定義 ------------------------------------ */

* {
	margin: 0px;
	padding: 0px;
	font-size: 13px;
	font-style: normal;
	list-style:none;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	text-align: left;
}

body {
	width:1080px;
	margin:0 auto;
	padding: 0px;
	background-color: #ffffff;
	text-align: center;
}
p, li, dt, dd, address {
	color: #7f7f7f;
	line-height: 1.4;
}
p {
	margin-bottom: 30px;
}
ul {
	margin: 0px 0px 20px 20px;
}
ul li ol li {
	margin: 0px 20px 0px 25px;
}
ul li ol {
	margin-bottom: 30px;
}
em {
	font-weight: bold;
}
img {
	border: 0px;
}
object {
	margin-left: 10px;
}

pre {
	width: 430px;
	margin: 10px;
	padding: 10px;
	border: 1px solid #7f7f7f;
	overflow: auto;
}
code, var, kbd {
	color: #7f7f7f;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.2;
}
blockquote {
	margin: 10px;
	border-left: 2px solid #7f7f7f;
}
blockquote p {
	color: #7f7f7f;
}

form fieldset {
	border: 0px solid #7f7f7f;
}
form legend {
	display: none;
}
form input, form select {
	margin-right: 1px;
	padding: 1px;
	font-size: 90%;
}
@media screen {
	form input, form select {
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	}
}
form select {
	margin-top: 1px;
}
form p input {
	text-align: center;
}
form textarea {
	padding: 1px;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	line-height: 1.2;
}

table {
	margin-bottom: 10px;
	border: 1px solid #7f7f7f;
	border-collapse: collapse;
}
table tr th {
	padding: 15px;
	background-color: #EEEEEE;
	text-align: center;
}
table tr td {
	padding: 10px;
	border: 1px solid #7f7f7f;
}
table tr td input {
	margin: -2px;
}

a:link, a:visited {
	color: #7f7f7f;
	text-decoration:none;
}
a:active, a:hover {
	color: #cfcfcf;
	text-decoration:none;
}

/* ----- 基本構造 -------------------------------------- */

div#container {
	width: 940px;
	margin: 0px auto;
}

div#header {
	float: none;
	clear: both;
}
div#menu {
	float: none;
	clear: both;
	margin: 0px 15px 10px 15px;
	background-color: #EEEEEE;
}

div#navigation {
	width: 200px;
	float: left;
}
div#logs {
	margin-bottom: 10px;
	float: right;
}
div#catalog, div#comment, div#trackback {
	margin: 0px 15px;
}

div#page, div#navi, div#contents, div#work, div#form, div#order, div#env, div#status {
	float: none;
	clear: both;
	padding: 0px 15px;
}
div#footer {
	float: none;
	clear: both;
	margin: 0px 15px 10px 15px;
	border-top: 2px solid #7f7f7f;
}

/* ----- ヘッダー -------------------------------------- */

div#header h1 {
	padding: 15px 15px 10px 15px;
}
div#header h1 a {
	color: #7f7f7f;
	font-size: 20px;
	text-decoration: none;
}
@media screen {
	div#header h1 a {
		font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	}
}

div#header p {
	margin: 0px 15px;
	font-size: 12px;
}

/* ----- メニュー -------------------------------------- */

div#menu h2 {
	display: none;
}

div#menu ul {
	margin: 5px 0px;
}
div#menu ul li {
	display: inline;
	margin-left: 10px;
}

div#menu a:link, div#menu a:visited {
	color: #7f7f7f;
}
div#menu a:active, div#menu a:hover {
	color: #cfcfcf;
}

/* ----- ナビゲーション -------------------------------- */

div#navigation h2 {
	margin: 7px 0px 17px 0px;
	padding: 15px;
	border-left: 5px solid #7f7f7f;
	background-color: #EEEEEE;
}

div#navigation ul {
	margin: 0px 5px 0px 5px;
}
div#navigation ul li {
	margin: 0px 0px 0px 0px;

	list-style-type: none;
}
div#navigation ul li ul {
	margin: 0px 0px 0px 20px;
}

div#navigation dl {
	margin: 0px 10px 0px 10px;
}
div#navigation dl dt {
}
div#navigation dl dd {
}

div#navigation form dl {
	display:block;
	padding:20px;
}
div#navigation form dl dt {
	display: none;
}
div#navigation form dl dd {
	display:block;
	padding:20px;
}
div#navigation form p {
	margin-left: 5px;
	margin-bottom: 0px;
}

div#navigation table {
	width: 170px;

	margin: -2px 0px 7px 7px;
	border: 0px solid #7f7f7f;
}
@media screen {
	div#navigation table {
        	margin: -2px auto 7px auto;
        }
}
div#navigation table tr th {
	text-align: left;
}
div#navigation table tr td {
	padding: 3px;
	border: 0px solid #7f7f7f;

	text-align: center;
}
@media screen {
	div#navigation table tr td {
        	padding: 5px;
        }
}

div#navigation .day {
	color: #7f7f7f;
}
div#navigation .satday {
	color: #595959;
}
div#navigation .sunday {
	color: #595959;
}
div#navigation .today {
	background-color: #EEEEEE;
}

div#navigation .calender {
	margin: 2px 10px;
}
div#navigation .calender li {
	display: inline;

	margin-right: 10px;
}

div#navigation .block {
	margin-bottom: 10px;
	margin-left: 15px;
	padding-bottom: 20px;

	text-align: center;
}

/* ----- 商品一覧 -------------------------------------- */

div#logs {
	width: 940px;
}

div#catalog .catalog {
	margin-bottom: 10px;
	padding: 2px;
}

div#catalog .images {
	margin-left:auto;
	margin-right:auto;
}
div#catalog .image {
	margin-bottom: 15px;
}
div#catalog .image img {
	margin: 1px;
}
div#catalog .image {
	text-align: center;
}
div#catalog .image .explain{
	display: block;
	width: 280px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	font-size: 12px;
	padding:20px;
	margin-top:10px;
	margin-bottom:30px;
}
div#catalog .all {
	clear: both;
	margin-bottom: 15px;
}

div#catalog h2 {
	margin: 7px 0px 12px 0px;
	padding: 5px;
	border: 1px solid #777777;
	border-left: 5px solid #777777;
}
div#catalog h3 {
	clear: both;
	margin: 0px 5px 20px 5px;
	padding: 5px;
}
div#catalog h4 {
	clear: both;
	margin: 10px;
}

div#catalog .text * {
	font-size: x-small;
}
html>body div#catalog .text * {
	font-size: small;
}
div#catalog .text p {
	margin: 15px 10px;
}
div#catalog .text ul {
	margin: 15px 30px;
}
div#catalog .text ol {
	margin: 15px 40px;
}

div#catalog dl.detail {
	margin: 15px 10px;
	padding: 10px;	
}
div#catalog dl.detail dt {
	float: left;
	clear: left;
	width: 150px;
}
div#catalog dl.detail dd {
}

div#catalog .text .navi {
	margin: 0px 10px;
}
div#catalog .text .navi * {
	font-size: 10px;
}
div#catalog .text .navi ul {
	margin-left: -10px;
}
div#catalog .text .navi li {
	margin-right: 10px;
}

div#catalog .info {
	margin: 5px 10px;
	text-align: right;
}
div#catalog .info * {
	font-size: 10px;
}
div#catalog .info li {
	margin-left: 5px;
}

div#catalog .list {
	margin: 0px 0px 10px 20px;
	padding: 5px 10px;
}
div#catalog .list h4 {
	margin: 0px 0px 15px 0px;
	padding: 3px 5px;
	color: #7f7f7f;
}
div#catalog .list ul {
	margin: 0px 0px 10px 20px;
}
div#catalog .list dl dt {
	margin: 0px 5px;
        font-weight: bold;
}
div#catalog .list dl dd {
	margin: 10px 10px 0px 15px;
}

div#trackback h2 {
	margin: 7px 0px 17px 0px;
	padding: 15px;
	border-left: 5px solid #7f7f7f;
	background-color: #EEEEEE;
}
div#trackback dl {
	margin-bottom: 10px;
	padding: 2px 2px 10px 2px;
	border: 1px solid #AAAAAA;
}
div#trackback dl dt {
	margin-top: 10px;
	margin-left: 10px;
}
div#trackback dl dd {
	margin-left: 30px;
}

div#comment .comment {
	margin-bottom: 10px;
	padding: 2px 2px 10px 2px;
	border: 1px solid #AAAAAA;
}

div#comment h2 {
	margin: 7px 0px 17px 0px;
	padding: 15px;
	border-left: 5px solid #7f7f7f;
	background-color: #EEEEEE;
}
div#comment h3 {
	margin: 5px 5px 10px 5px;
	padding: 5px;
}

div#comment .text * {
	font-size: x-small;
}
html>body div#comment .text * {
	font-size: small;
}
div#comment .text p {
	margin: 10px;
}

/* ----- ページ移動 ------------------------------------ */

div#page h2 {
	display: none;
}

div#page ul {
	margin: 0px;
}
div#page ul li {
	display: inline;

	margin-right: 10px;
}

div#logs div#page ul {
	margin: 0px 10px;
}

/* ----- ナビゲーション -------------------------------- */

div#navi h2 {
	display: none;
}

div#navi ul {
	margin-bottom:30px;
	text-align: right;
}
div#navi ul li {
	display: inline;

	margin-left: 5px;
}

div#navi form dl {
}
div#navi form dl dt {
	display: none;
}
div#navi form dl dd {
	float: left;
}
div#navi form input {
	padding: 0px;
}

div#logs div#navi ul {
	margin: 5px 10px;
}

/* ----- コンテンツ ------------------------------------ */

div#contents h2 {
	margin:30px 0;
	padding: 15px;
	background-color: #EEEEEE;
}
div#contents h3 {
	margin-bottom: 15px;
	padding: 3px 0px;
}
div#contents h4 {
	margin-bottom: 10px;
}

div#contents dl {
	margin-bottom: 20px;
}
div#contents dl dt {
	margin-top: 10px;
}
div#contents dl dd {
	margin-left: 30px;
}

div#contents form.search {
	margin: 10px 0px;
}
div#contents form.search dl dt {
	display: none;
}
div#contents form.search dl dd {
	float: left;
	margin: 0px;
}
div#contents form.search input {
	padding: 0px;
}

/* ----- 処理選択 -------------------------------------- */

div#work h2 {
	margin:30px 0;
	padding: 15px;
	background-color: #EEEEEE;
}

div#work form {
	margin: 10px 0px;
}
div#work form dl dt {
	display: none;
}
div#work form dl dd {
	float: left;
}
div#work form input {
	padding: 0px;
}

/* ----- フォーム -------------------------------------- */

div#form h2 {
	margin:30px 0;
	padding: 15px;
	background-color: #EEEEEE;
}
div#form h3 {
	margin-bottom: 15px;
	padding: 3px 0px;
}

div#form form {
	margin-bottom: 20px;
}
div#form form dl {
	margin-bottom: 20px;
}
div#form form dl dt {
	float: left;
	clear: left;
	width: 5em;
}
div#form form dl dd {
}
div#form form dl dd textarea {
	margin-top: 20px;
}
div#form form ul {
	margin: 0px 0px 20px 0px;
}
div#form form ul li {
	list-style-type: none;
}

/* ----- 注文フォーム ---------------------------------- */

div#order h2 {
	margin:30px 0;
	padding: 15px;
	background-color: #EEEEEE;
}
div#order h3 {
	margin-bottom: 15px;
	padding: 3px 0px;
}

div#order dl {
	margin-bottom: 20px;
}
div#order dl dt {
	float: left;
	clear: left;
	width: 6em;
}
div#order dl dd {
}

div#order form {
	margin-bottom: 10px;
}
div#order form dl {
	margin-bottom: 20px;
}
div#order form dl dt {
	float: left;
	clear: left;
	width: 6em;
}
div#order form dl dd {
}
div#order form dl dd textarea {
	margin-top: 2px;
}
div#order form ul {
	margin: 0px 0px 20px 0px;
}
div#order form ul li {
	list-style-type: none;
}

/* ----- 環境設定 -------------------------------------- */

div#env h2 {
	margin:30px 0;
	padding: 15px;
	background-color: #EEEEEE;
}
div#env h3 {
	margin-bottom: 15px;
	padding: 5px;
	background-color: #CCCCCC;
}

div#env dl {
	margin-bottom: 20px;
}
div#env dl dd {
	margin-bottom: 10px;
}

div#env form {
	margin-bottom: 20px;
}

/* ----- ステータス ------------------------------------ */

div#status h2 {
	margin:30px 0;
	padding: 15px;
	background-color: #EEEEEE;
}
div#status h3 {
	margin-bottom: 15px;
	padding: 3px 0px;
}
div#status h4 {
	margin-bottom: 10px;
}

div#status dl {
	margin-bottom: 20px;
}
div#status dl dt {
	float: left;
	clear: left;
	width: 10em;
}
div#status dl dd {
}

/* ----- フッター -------------------------------------- */

div#footer address {
	padding: 10px 0px 20px 0px;
}

/* ----- 個別指定 -------------------------------------- */

.new {
	color: #7f7f7f;
}
.price {
	text-align: right;
}
.button {
	margin-bottom: 10px;
}

/* ----- 詳細ページ/start -------------------------------------- */

.tit_view{
	clear:both;
	display:block;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 940px;
	height:30px;
	font-size:24px;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 15px 20px 15px 20px;
	background-color: #33cc33;
	color: #ffffff;
}

.tit_view_fll{
	display:block;
	font-size:24px;
	width:800px;
	float:left;
}

.tit_view_flr{
	display:block;
	width:100px;
	float:right;
	text-align:right;
	padding-top:5px;
}

.tit_view_flr a:visited{
	color:#ffffff;
}

.tit_view_flr a:link{
	color:#ffffff;
}

.tit_view_flr a:hover{
	color:#7f7f7f;
}


.view_img_s_box{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.view_img_s img{
	width:280px;
	height:auto;
	float:left;
	padding:0 10px 20px 10px;
}

.view_box{
	clear:both;
	width:940px;
	margin:0 auto 30px auto;
	border-bottom:3px solid #33cc33;
}

.view_tit{
	font-weight:bold;
	font-size:18px;
	padding:0 20px 5px 20px;
	text-align:right;
}

.view_price{
	width:400px;
	float:right;
	text-align:right;
	padding:0 20px 10px 20px;
}

.view_price_in{
	font-size:18px;
	font-weight:bold;
	color:#F00;
}

.view_ichiran{
	width:150px;
	float:left;
	text-align:center;
	margin-left:20px;
	margin-top:-21px;
	padding:10px;
	background-color:#33cc33;
	color:#ffffff;
}

.view_ichiran a:visited{
	color:#ffffff;
}
.view_ichiran a:link{
	color:#ffffff;
}
.view_ichiran a:hover{
	color:#000000;
}

.view_txt{
	width:800px;
	margin:0 auto 30px auto;
}

.view_border_btm{
	width:940px;
	margin:0 auto 0 auto;
	border-bottom:1px solid #33cc33;
}

.back_bg{
	width:960px;
	margin:0 auto;
}
.view_back{
	width:50px;
	float:right;
	text-align:center;
	margin-top:10px;
	margin-bottom:50px;
	padding:10px;
	background-color:#33cc33;
	margin-right:20px;
}

.view_back a:visited{
	color:#ffffff;
}

.view_back a:link{
	color:#ffffff;
}

.view_back a:hover{
	color:#7f7f7f;
}

/* ----- 詳細ページ/end -------------------------------------- */

.list_img_bg_box{
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	border:1px solid #595959;
}

.list_img_bg img{
	width:400px;
	height:auto;
	float:left;
	
}

.ichiran_tit{
	display:block;
	width:350px;
	float:right;
	font-size:16px;
	font-weight:bold;
	border:1px solid #595959;
	margin-top:100px;
}

.ichiran_next{
	display:block;
	font-weight:normal;
	font-size:13px;
	text-align:right;
}

/* ----- カテゴリー別一覧ページ/start -------------------------------------- */
.item_bg {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.item_fl {
	display: block;
	width: 280px;
	float: left;
	margin-left: 17px;
	margin-right: 16px;
	margin-bottom: 50px;
}
.item_img img{
	display: block;
	width: 280px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
.item_tit {
	display: block;
	width: 270px;
	font-size: 16px;
	margin-top: 10px;
	padding: 10px 0 5px 10px;
	border-bottom: 3px solid #33cc33;
	margin-bottom: 10px;
}
.item_price {
	display: block;
	width: 270px;
	text-align: right;
	padding: 0 10px 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px dotted #cfcfcf;
}
.item_txt {
	display: block;
	width: 260px;
	height: 60px;
	padding: 0 10px 0 10px;
}
.ichiran {
	display: block;
	clear: both;
	width: 260px;
	padding: 10px 10px 10px 10px;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	cursor: pointer;
}
.ichiran:hover {
	display: block;
	background-color: #33cc33;
	color: #ffffff;
}

#page_pn{
	clear:both;
	width:700px;
	margin:0 auto;
}

#page_pn ul{
	width:700px;
	padding:0;
	list-style:none;
}

#page_pn li{
	width:350px;
	float:left;
	text-align:center;
}

#navi_w{
	width:960px;
	margin:0 auto;
}

/* ----- カテゴリー別一覧ページ/end -------------------------------------- */

.form_wrt{
}

.form_wrt dt{
	display:block;
	padding-right:30px;
}

.form_wrt dd{
	display:block;
	width:100%;
	padding-top:20px;
}

/* ----- 一覧ページ/start -------------------------------------- */

.cat_tit{
	clear:both;
	display:block;
	font-family: Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	width: 920px;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding: 15px 20px 15px 20px;
	background-color: #33cc33;
	color: #ffffff;
	font-size:24px;
}

.cat_all_bg{
	clear:both;
	width:960px;
	margin:0 auto 30px auto;
}

.cat_all{
	clear:both;
	float:right;
	margin-bottom:30px;
}


.cat_all a:visited{
	color:#33cc33;
}

.cat_all a:link{
	color:#33cc33;
}

.cat_all a:hover{
	color:#7f7f7f;
}

/* ----- 一覧ページ/end -------------------------------------- */


.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
/* for modern brouser */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
/* IE7,MacIE5 */
.clearfix {
	display: inline-block;
}
/* WinIE6 below, Exclude MacIE5 \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
/**/
