<!--SKIN_FOOTER_START-->
		</div>
		</div>
			
	</div><!-- /#content -->
</div><!-- /#wrap -->
<p class="btn_totop"><a href="#wrap"><img src="../common/images/common/btn_totop.png" alt="page top" width="100" height="38" class="over"></a></p>
<footer>
<div id="footer" class="cf">
	<h2><a href="../"><img src="../common/images/common/logo_footer.png" alt="" width="123" height="108" class="over"></a></h2>
	<div class="fll cf">
		<h3>子供服専門店 いちごガール</h3>
		<p>〒910-0837<br>福井市高柳1丁目203　カーサリブレ101</p>
		<img src="../common/images/common/img_tell.png" alt="0776-57-1539" width="171" height="32" class="fll">
		<a href="https://secure.shop-pro.jp/?mode=inq&shop_id=PA01108887" target="_blank"><img src="../common/images/common/btn_contact_off.jpg" alt="Contact" width="107" height="32" class="flr"></a>
	</div>
	<div class="flr">
		<nav>
			<ul>
				<li><a href="../brand/">Brand</a></li><!--
			--><li><a href="../cartpro/cart.cgi">Ranking</a></li><!--
			--><li><a href="../newitem/">Newitem</a></li><!--
			--><li><a href="../instagram/">Instagram</a></li><!--
			--><li><a href="../access/">Access</a></li>
			</ul>
		</nav>
		<ul>
			<li><a href="http://ameblo.jp/ichigo15girl" target="_blank"><img src="../common/images/common/btn_blog_off.png" alt="official BLOG" width="115" height="40"></a></li><!--
			--><li><a href="http://ichigogirl.shop-pro.jp/" target="_blank"><img src="../common/images/common/btn_shopping_off.png" alt="Shoppingsite" width="115" height="40"></a></li><!--
			--><li><a href="https://instagram.com/ichigogirl_official_ig/" target="_blank"><img src="../common/images/common/btn_instagram_off.png" alt="Instagram" width="115" height="40"></a></li>
		</ul>
		<p>&copy;2015 Ichigo Girl All rights reserve</p>
	</div>
</div><!-- /#footer -->
</footer>
</body>
</html>
<!--SKIN_FOOTER_END-->