<!--SKIN_JSTEXT_HEAD_START-->
<!--SKIN_JSTEXT_HEAD_END-->

  
<!--SKIN_JSTEXT_START-->
<div class="item_bg">
<div class="fl_bg">
        <div class="item_fl">
                <span class="item_img">${ARTICLE_INFO}</span>
                <span class="item_tit">${ARTICLE_SUBJ}</span>
                <span class="item_price">${ARTICLE_PRICE}円</span>
                <span class="item_txt">${ARTICLE_TEXT}</span>
                <p><a href="${ARTICLE_URL}"><span class="ichiran">詳細を確認する</span></a></p>
        </div>
</div>
</div> 
<!--SKIN_JSTEXT_END-->

<div><a href="${ARTICLE_URL}"><span class="ichiran">詳細を確認する</span></a></div>

<!--SKIN_JSTEXT_FOOT_START-->
<!--SKIN_JSTEXT_FOOT_END-->