<!-- インデックス( 商品一覧 すなわち TOP ) ページ -->
<!--SKIN_CATALOG_HEAD_START-->
		<div class="ranking_page">
			<ul class="ranking_nav cf">
				<li><a href="cart.cgi?field=1"><img src="../common/images/ranking/btn_tops.jpg" alt="トップス" class="over"></a></li>
				<li><a href="cart.cgi?field=2"><img src="../common/images/ranking/btn_bottoms.jpg" alt="ボトムス＆ワンピース" class="over"></a></li>
				<li><a href="cart.cgi?field=3"><img src="../common/images/ranking/btn_outer.jpg" alt="アウター" class="over"></a></li>
				<li><a href="cart.cgi?field=4"><img src="../common/images/ranking/btn_goods.jpg" alt="グッズ" class="over"></a></li>
				<li><a href="cart.cgi?field=5"><img src="../common/images/ranking/btn_coordinate.jpg" alt="コーディネート" class="over"></a></li>
			</ul>
			<h4 title="${CATALOG_TITLE}"></h4>
			<ul class="ranking_list cf">
<!--SKIN_CATALOG_HEAD_END-->

<!--SKIN_CATALOG_START-->
				<li>
					<div class="list_img imgLiquid">${ARTICLE_FILES}</div>
					<h5>${ARTICLE_SUBJ}</h5>
					<div class="btn_detail"><a href="${ARTICLE_URL}"><img src="../common/images/ranking/btn_detail_off.jpg" alt="詳しくはこちら" width="161" height="33"></a></div>
				</li>
<!--SKIN_CATALOG_END-->

<!--SKIN_CATALOG_FOOT_START-->
     			</ul><!-- /.works_list -->
		</div>
<!--SKIN_CATALOG_FOOT_END-->
