<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>削除完了</h2>
	<ul>
		<li>削除が完了しました。ご利用ありがとうございました。</li>
		<li>登録していただいていたメールアドレスに削除完了メールを送信しましたので、ご確認ください。</li>
		<li><a href="${INFO_PATH}">商品ページへ戻る。</a></li>
	</ul>
</div>
<!--SKIN_CONTENTS_END-->
