<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>削除確認</h2>
	<ul>
		<li>お客様情報を削除します。よろしければ<em>削除する</em>ボタンを押してください。</li>
	</ul>
	<form action="${INFO_SSL}" method="post">
		<fieldset>
			<legend>確認フォーム</legend>
			<input type="hidden" name="mode" value="login" />
			<input type="hidden" name="work" value="del" />
			<input type="hidden" name="login_mail" value="${FORM_LOGIN_MAIL}" />
			<input type="hidden" name="login_pwd" value="${FORM_LOGIN_PWD}" />
			<p><input type="submit" value="削除する" class="button" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_CONTENTS_END-->
