<!--SKIN_CONTENTS_HEAD_START-->
<div id="form">
	<h2>ログイン</h2>
	<ul>
		<li>Ｅメールとパスワードを入力してください。</li>
		<li>パスワードを忘れた方は、<a href="${INFO_SSL}?mode=password">パスワード再送信</a>からパスワードの再発行手続きを行ってください。</li>
	</ul>
	<form action="${INFO_SSL}" method="post">
		<fieldset>
			<legend>認証フォーム</legend>
			<input type="hidden" name="mode" value="login" />
			<dl>
				<dt>Ｅメール</dt>
					<dd><input type="text" name="login_mail" size="30" value="" /></dd>
				<dt>パスワード</dt>
					<dd><input type="password" name="login_pwd" size="20" value="" /></dd>
				<dt>作業内容</dt>
					<dd>
						<select name="work" xml:lang="ja" lang="ja">
<!--SKIN_CONTENTS_HEAD_END-->

	<!--SKIN_WORK_START-->
							<option value="${WORK_ID}">${WORK_NAME}</option>
	<!--SKIN_WORK_END-->

<!--SKIN_CONTENTS_FOOT_START-->
						</select>
					</dd>
			</dl>
			<p><input type="submit" value="認証する" class="button" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_CONTENTS_FOOT_END-->
