<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>ポイント確認</h2>
	<p>ご利用ありがとうございます。<br />${VIEW_NAME}様の現在のポイントは<em>${VIEW_POINT}</em>ポイントです。</p>
	<ul>
		<li>ポイントは<em>${VIEW_PRICE}</em>円のお買い上げごとに<em>${VIEW_VALUE}</em>ポイント加算されます。</li>
		<li>ポイントを使用すると、1ポイントにつき1円の値引きとなります。</li>
		<li>ポイントを貯めることは可能ですが、使用するポイント数を指定することはできません。</li>
		<li>貯まったポイントでのお買い物は、ポイント加算対象外となります。</li>
	</ul>
</div>
<!--SKIN_CONTENTS_END-->
