<!--SKIN_CONTENTS_START-->
<div id="form">
	<h2>ログイン</h2>
	<ul>
		<li>Ｅメールとパスワードを入力してログインしてください。</li>
		<li>初めて利用される方は、何も入力せずに<em>次へ進む</em>ボタンを押してください。</li>
		<li>パスワードを忘れた方は、<a href="${INFO_SSL}?mode=password">パスワード再送信</a>からパスワードの再発行手続きを行ってください。</li>
	</ul>
	<form action="${INFO_SSL}" method="post">
		<fieldset>
			<legend>認証フォーム</legend>
			<input type="hidden" name="mode" value="order" />
			<input type="hidden" name="work" value="input" />
			<input type="hidden" name="goods" value="${FORM_GOODS}" />
			<dl>
				<dt>Ｅメール</dt>
					<dd><input type="text" name="login_mail" size="30" value="" /></dd>
				<dt>パスワード</dt>
					<dd><input type="password" name="login_pwd" size="20" value="" /></dd>
			</dl>
			<p><input type="submit" value="次へ進む" class="button" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_CONTENTS_END-->
