<!--SKIN_CART_HEAD_START-->
<div id="contents">
	<h2>ショッピングカート</h2>
	<ul>
		<li>ご注文内容は以下の通りです。</li>
	</ul>
	<table summary="カート内容一覧">
		<tr>
			<th>商品コード</th>
			<th>商品名</th>
			<th>単価</th>
			<th>数量</th>
			<th>金額</th>
		</tr>
<!--SKIN_CART_HEAD_END-->

	<!--SKIN_CART_START-->
		<tr>
			<td>${ARTICLE_ID}</td>
			<td>${ARTICLE_SUBJ}<!--CART_OPTION_START--> （${CART_OPTION}）<!--CART_OPTION_END--></td>
			<td class="price">${ARTICLE_PRICE}円</td>
			<td class="price">${CART_AMOUNT}</td>
			<td class="price">${CART_FEE}円</td>
		</tr>
	<!--SKIN_CART_END-->

<!--SKIN_CART_FOOT_START-->
	</table>
	<table summary="お支払い料金一覧">
		<tr>
			<th>小計</th>
			<td class="price">${CART_SUBTOTAL}円</td>
		</tr>
		<!--CART_POINT_START-->
		<tr>
			<th>ポイント</th>
			<td class="price">-${CART_POINT}円</td>
		</tr>
		<!--CART_POINT_END-->
		<!--CART_PAYMENT_START-->
		<tr>
			<th>手数料</th>
			<td class="price">${CART_PAYMENT}円</td>
		</tr>
		<!--CART_PAYMENT_END-->
		<!--CART_CARRIAGE_START-->
		<tr>
			<th>送料</th>
			<td class="price">${CART_CARRIAGE}円</td>
		</tr>
		<!--CART_CARRIAGE_END-->
		<!--CART_TOTAL_START-->
		<tr>
			<th>合計</th>
			<td class="price">${CART_TOTAL}円</td>
		</tr>
		<!--CART_TOTAL_END-->
	</table>
	<!--CART_FREE_START-->
	<ul>
		<li><strong>お買い上げ金額が${CART_FREE}円以上なので、送料が無料になります。</strong></li>
	</ul>
	<!--CART_FREE_END-->
</div>
<!--SKIN_CART_FOOT_END-->
