<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>注文完了</h2>
	<ul>
		<li>ご注文が完了しました。ご注文ありがとうございます。</li>
		<li>入力していただいたメールアドレスに注文内容を送信しましたので、ご確認ください。</li>
		<li><a href="${INFO_PATH}">商品ページへ戻る。</a></li>
	</ul>
</div>
<!--SKIN_CONTENTS_END-->
