<!--SKIN_FORM_START-->
<div id="order">
	<h2>入力内容確認</h2>
	<ul>
		<li>以下の内容で送信します。よろしければ<em>この内容で注文する</em>ボタンを押してください。</li>
	</ul>
	<h3>ご注文情報</h3>
	<dl>
		<dt>お支払方法</dt>
			<dd>${VIEW_PAYMENT}</dd>
		<!--VIEW_DELIVERY_START-->
		<dt>配達方法</dt>
			<dd>${VIEW_DELIVERY}</dd>
		<!--VIEW_DELIVERY_END-->
		<!--VIEW_DATE_START-->
		<dt>配達日時</dt>
			<dd>${VIEW_DATE}を希望</dd>
		<!--VIEW_DATE_END-->
	</dl>
	<h3>お客様情報</h3>
	<dl>
		<dt>名前</dt>
			<dd>${VIEW_ORDER_NAME}</dd>
		<dt>ふりがな</dt>
			<dd>${VIEW_ORDER_KANA}</dd>
		<dt>Ｅメール</dt>
			<dd>${VIEW_ORDER_MAIL}</dd>
		<dt>郵便番号</dt>
			<dd>${VIEW_ORDER_POST}</dd>
		<dt>都道府県</dt>
			<dd>${VIEW_ORDER_PREF}</dd>
		<dt>住所</dt>
			<dd>${VIEW_ORDER_ADDR}</dd>
		<dt>電話番号</dt>
			<dd>${VIEW_ORDER_PHONE}</dd>
		<dt>FAX番号</dt>
			<dd>${VIEW_ORDER_FAX}</dd>
	</dl>
	<!--VIEW_SEND_START-->
	<h3>配送先情報</h3>
	<dl>
		<dt>名前</dt>
			<dd>${VIEW_SEND_NAME}</dd>
		<dt>ふりがな</dt>
			<dd>${VIEW_SEND_KANA}</dd>
		<dt>郵便番号</dt>
			<dd>${VIEW_SEND_POST}</dd>
		<dt>都道府県</dt>
			<dd>${VIEW_SEND_PREF}</dd>
		<dt>住所</dt>
			<dd>${VIEW_SEND_ADDR}</dd>
		<dt>電話番号</dt>
			<dd>${VIEW_SEND_PHONE}</dd>
		<dt>FAX番号</dt>
			<dd>${VIEW_SEND_FAX}</dd>
	</dl>
	<!--VIEW_SEND_END-->
	<h3>その他</h3>
	<!--VIEW_POINT_START-->
	<ul>
		<li>ポイントを使用する</li>
	</ul>
	<!--VIEW_POINT_END-->
	<p>連絡事項</p><p>${VIEW_COMMENT}</p>
	<!--VIEW_SAVE_START-->
	<ul>
		<li>入力内容をCookieに保存する</li>
	</ul>
	<!--VIEW_SAVE_END-->
	<form action="${INFO_SSL}" method="post">
		<fieldset>
			<legend>ご注文情報確認フォーム</legend>
			<input type="hidden" name="mode" value="order" />
			<input type="hidden" name="work" value="order" />
			<input type="hidden" name="goods" value="${FORM_GOODS}" />
			<input type="hidden" name="login_mail" value="${FORM_LOGIN_MAIL}" />
			<input type="hidden" name="login_pwd" value="${FORM_LOGIN_PWD}" />
			<input type="hidden" name="payment" value="${FORM_PAYMENT}" />
			<input type="hidden" name="delivery" value="${FORM_DELIVERY}" />
			<input type="hidden" name="date_month" value="${FORM_DATE_MONTH}" />
			<input type="hidden" name="date_day" value="${FORM_DATE_DAY}" />
			<input type="hidden" name="date_time" value="${FORM_DATE_TIME}" />
			<input type="hidden" name="order_name" value="${FORM_ORDER_NAME}" />
			<input type="hidden" name="order_kana" value="${FORM_ORDER_KANA}" />
			<input type="hidden" name="order_mail" value="${FORM_ORDER_MAIL}" />
			<input type="hidden" name="order_post" value="${FORM_ORDER_POST}" />
			<input type="hidden" name="order_pref" value="${FORM_ORDER_PREF}" />
			<input type="hidden" name="order_addr" value="${FORM_ORDER_ADDR}" />
			<input type="hidden" name="order_phone" value="${FORM_ORDER_PHONE}" />
			<input type="hidden" name="order_fax" value="${FORM_ORDER_FAX}" />
			<input type="hidden" name="send_name" value="${FORM_SEND_NAME}" />
			<input type="hidden" name="send_kana" value="${FORM_SEND_KANA}" />
			<input type="hidden" name="send_post" value="${FORM_SEND_POST}" />
			<input type="hidden" name="send_pref" value="${FORM_SEND_PREF}" />
			<input type="hidden" name="send_addr" value="${FORM_SEND_ADDR}" />
			<input type="hidden" name="send_phone" value="${FORM_SEND_PHONE}" />
			<input type="hidden" name="send_fax" value="${FORM_SEND_FAX}" />
			<input type="hidden" name="user_pwd" value="${FORM_USER_PWD}" />
			<input type="hidden" name="comment" value="${FORM_COMMENT}" />
			<input type="hidden" name="save" value="${FORM_SAVE}" />
			<input type="hidden" name="point" value="${FORM_POINT}" />
			<p>
				<input type="submit" name="exec_back" value="前の画面に戻る" class="button" />
				<input type="submit" value="この内容で注文する" class="button" />
			</p>
		</fieldset>
	</form>
</div>
<!--SKIN_FORM_END-->
