<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>パスワード送信完了</h2>
	<ul>
		<li>登録していただいたメールアドレスに、新しいパスワードを送信しましたのでご確認ください。</li>
		<li><a href="${INFO_PATH}">商品ページへ戻る。</a></li>
	</ul>
</div>
<!--SKIN_CONTENTS_END-->
