<!--SKIN_CONTENTS_START-->
<div id="form">
	<h2>パスワード再送信</h2>
	<ul>
		<li>お客様のＥメールを入力してください。</li>
		<li>登録済みのＥメールに新しいパスワードを送信します。</li>
	</ul>
	<form action="${INFO_SSL}" method="post">
		<fieldset>
			<legend>送信フォーム</legend>
			<input type="hidden" name="mode" value="password" />
			<input type="hidden" name="work" value="complete" />
			<dl>
				<dt>Ｅメール</dt>
					<dd><input type="text" name="login_mail" size="30" value="" /></dd>
			</dl>
			<p><input type="submit" value="送信する" class="button" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_CONTENTS_END-->
