<!--SKIN_CONTENTS_START-->
<div id="catalog">
	<h2>プロフィール</h2>
	<div class="catalog">
		<h3>${PROFILE_NAME}のプロフィール</h3>
		<div class="text">
			${PROFILE_TEXT}
		</div>
	</div>
</div>
<!--SKIN_CONTENTS_END-->
