<!--SKIN_RANK_HEAD_START-->
<div id="contents">
	<h2>売り上げランキング</h2>
	<ul>
		<li>売り上げ数の高い商品一覧。</li>
		<li>各商品名をクリックすると商品の詳細が表示されます。</li>
	</ul>
	<p>
	<table summary="人気商品一覧">
		<tr>
			<th>順位</th>
			<th>ファイル</th>
			<th>商品名</th>
			<th>売り上げ数</th>
		</tr>
<!--SKIN_RANK_HEAD_END-->

	<!--SKIN_RANK_START-->
		<tr>
			<td>${RANK_RANK}</td>
			<td><a href="${ARTICLE_URL}">${ARTICLE_INFO}</a></td>
			<td><a href="${ARTICLE_URL}">${ARTICLE_SUBJ}</a></td>
			<td>${RANK_COUNT}</td>
		</tr>
	<!--SKIN_RANK_END-->

<!--SKIN_RANK_FOOT_START-->
	</table>
</div>
<!--SKIN_RANK_FOOT_END-->
