<!--SKIN_RATE_HEAD_START-->
<div id="contents">
	<h2>人気商品</h2>
	<ul>
		<li>評価の高い商品一覧。</li>
		<li>各商品名をクリックすると商品の詳細が表示されます。</li>
	</ul>
	<p>
	<table summary="人気商品一覧">
		<tr>
			<th>順位</th>
			<th>ファイル</th>
			<th>商品名</th>
			<th>総評価</th>
		</tr>
<!--SKIN_RATE_HEAD_END-->

	<!--SKIN_RATE_START-->
		<tr>
			<td>${RATE_RANK}</td>
			<td><a href="${ARTICLE_URL}">${ARTICLE_INFO}</a></td>
			<td><a href="${ARTICLE_URL}">${ARTICLE_SUBJ}</a></td>
			<td>${RATE_POINT}ポイント</td>
		</tr>
	<!--SKIN_RATE_END-->

<!--SKIN_RATE_FOOT_START-->
	</table>
</div>
<!--SKIN_RATE_FOOT_END-->
