<!--SKIN_CONTENTS_START-->
<div id="order">
	<h2>お客様情報新規登録</h2>
	<ul>
		<li>ログイン用のお客様情報を新規に登録します。各項目を入力して<em>確認画面へ進む</em>ボタンを押してください。</li>
		<li><em><abbr title="入力必須">*</abbr></em> の付いた項目は入力必須項目です。</li>
		<li>お客様の住所と配送先の住所が異なる場合、配送先情報もご記入ください。</li>
	</ul>
<!--SKIN_CONTENTS_END-->

<!--SKIN_ERROR_HEAD_START-->
	<ul>
<!--SKIN_ERROR_HEAD_END-->

	<!--SKIN_ERROR_START-->
		<li><strong>${ERROR_MESSAGE}</strong></li>
	<!--SKIN_ERROR_END-->

<!--SKIN_ERROR_FOOT_START-->
	</ul>
<!--SKIN_ERROR_FOOT_END-->

<!--SKIN_FORM_START-->
	<form action="${INFO_SSL}" method="post">
		<h3>お客様情報</h3>
		<fieldset>
			<legend>お客様情報入力フォーム</legend>
			<input type="hidden" name="mode" value="regist" />
			<input type="hidden" name="work" value="preview" />
			<dl>
				<dt>名前 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_name" size="30" value="${FORM_ORDER_NAME}" /></dd>
				<dt>ふりがな <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_kana" size="30" value="${FORM_ORDER_KANA}" /></dd>
				<dt>Ｅメール <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_mail" size="30" value="${FORM_ORDER_MAIL}" style="ime-mode:disabled;" /></dd>
				<dt>郵便番号 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_post" size="10" value="${FORM_ORDER_POST}" style="ime-mode:disabled;" /></dd>
				<dt>都道府県 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd>
						<select name="order_pref" xml:lang="ja" lang="ja">
							<option value="">選択してください</option>
							${FORM_ORDER_PREF}
						</select>
					</dd>
				<dt>住所 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_addr" size="60" value="${FORM_ORDER_ADDR}" /></dd>
				<dt>電話番号 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="text" name="order_phone" size="30" value="${FORM_ORDER_PHONE}" style="ime-mode:disabled;" /></dd>
				<dt>FAX番号</dt>
					<dd><input type="text" name="order_fax" size="30" value="${FORM_ORDER_FAX}" style="ime-mode:disabled;" /></dd>
			</dl>
		</fieldset>
		<h3>配送先情報</h3>
		<fieldset>
			<legend>配送先情報入力フォーム</legend>
			<dl>
				<dt>名前</dt>
					<dd><input type="text" name="send_name" size="30" value="${FORM_SEND_NAME}" /></dd>
				<dt>ふりがな</dt>
					<dd><input type="text" name="send_kana" size="30" value="${FORM_SEND_KANA}" /></dd>
				<dt>郵便番号</dt>
					<dd><input type="text" name="send_post" size="10" value="${FORM_SEND_POST}" style="ime-mode:disabled;" /></dd>
				<dt>都道府県</dt>
					<dd>
						<select name="send_pref" xml:lang="ja" lang="ja">
							<option value="">選択してください</option>
							${FORM_SEND_PREF}
						</select>
					</dd>
				<dt>住所</dt>
					<dd><input type="text" name="send_addr" size="60" value="${FORM_SEND_ADDR}" /></dd>
				<dt>電話番号</dt>
					<dd><input type="text" name="send_phone" size="30" value="${FORM_SEND_PHONE}" style="ime-mode:disabled;" /></dd>
				<dt>FAX番号</dt>
					<dd><input type="text" name="send_fax" size="30" value="${FORM_SEND_FAX}" style="ime-mode:disabled;" /></dd>
			</dl>
		</fieldset>
		<h3>その他</h3>
		<fieldset>
			<legend>その他の情報入力フォーム</legend>
			<dl>
				<dt>パスワード <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="password" name="user_pwd" size="20" value="${FORM_USER_PWD}" /></dd>
				<dt>確認入力 <em><abbr title="入力必須">*</abbr></em></dt>
					<dd><input type="password" name="cfm_pwd" size="20" value="${FORM_CFM_PWD}" /></dd>
			</dl>
			<p>
				<input type="button" value="前の画面に戻る" class="button" onclick="javascript:history.back();" onkeypress="javascript:history.back();" />
				<input type="submit" value="確認画面へ進む" class="button" />
			</p>
		</fieldset>
	</form>
</div>
<!--SKIN_FORM_END-->
