<!--SKIN_CONTENTS_START-->
<div id="contents">
	<h2>登録完了</h2>
	<ul>
		<li>お客様情報の登録が完了しました。登録ありがとうございます。</li>
		<li>登録していただいたメールアドレスに登録内容を送信しましたので、ご確認ください。</li>
		<li><a href="${INFO_PATH}">商品ページへ戻る。</a></li>
	</ul>
</div>
<!--SKIN_CONTENTS_END-->
