<!--SKIN_CONTENTS_START-->
<div id="form">
	<h2>商品検索</h2>
	<ul>
		<li>検索キーワードを入力して<em>検索ボタン</em>を押してください。</li>
		<li>キーワードは<em>半角スペース</em>で区切って複数指定することができます。</li>
	</ul>
	<form action="${INFO_PATH}" method="get">
		<fieldset>
			<legend>検索フォーム</legend>
			<input type="hidden" name="mode" value="search" />
			<dl>
				<dt>キーワード</dt>
					<dd><input type="text" name="word" size="30" value="${FORM_WORD}" /></dd>
				<!--FORM_FIELD_START-->
				<dt>検索対象</dt>
					<dd>
						<select name="field" xml:lang="ja" lang="ja">
							<option value="">すべて</option>
							${FORM_FIELD}
						</select>
					</dd>
				<!--FORM_FIELD_END-->
				<dt>検索条件</dt>
					<dd>
						<select name="cond" xml:lang="ja" lang="ja">
							<option value="and"${FORM_COND_AND}>AND検索</option>
							<option value="or"${FORM_COND_OR}>OR検索</option>
						</select>
					</dd>
			</dl>
			<p><input type="submit" value="検索する" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_CONTENTS_END-->

<!--SKIN_CATALOG_HEAD_START-->
<div id="contents">
	<h2>検索結果一覧</h2>
	<ul>
		<li>検索結果は以下のとおりです。</li>
	</ul>
	<table summary="検索結果一覧">
		<tr>
			<th>商品ID</th>
			<th>商品画像</th>
			<th>商品名</th>
			<th>価格</th>
		</tr>
<!--SKIN_CATALOG_HEAD_END-->

	<!--SKIN_CATALOG_START-->
		<tr>
			<td>${ARTICLE_ID}</td>
			<td><a href="${ARTICLE_URL}">${ARTICLE_INFO}</a></td>
			<td>${ARTICLE_SUBJ}</td>
			<td>${ARTICLE_PRICE}円</td>
		</tr>
	<!--SKIN_CATALOG_END-->

<!--SKIN_CATALOG_FOOT_START-->
	</table>
</div>
<!--SKIN_CATALOG_FOOT_END-->
