<!--SKIN_LOGS_HEAD_START-->
<!--SKIN_LOGS_HEAD_END-->

<!--SKIN_CATALOG_HEAD_START-->
<!--SKIN_CATALOG_HEAD_END-->

<!--SKIN_CATALOG_START-->
<div class="detail_page cf">
	<h4 title="${ARTICLE_FIELD}"></h4>
	<div class="detail_img">${ARTICLE_FILES}</div>
	<div class="detail_data">
		<h5>${ARTICLE_SUBJ}</h5>
		${ARTICLE_TEXT}
	</div>

</div>

<!--SKIN_CATALOG_END-->

<!--SKIN_CATALOG_FOOT_START-->
<div class="detail_nav">
	<p>カテゴリ一覧</p>
	<ul class="ranking_nav cf">
		<li><a href="cart.cgi?field=1"><img src="../common/images/ranking/btn_tops.jpg" alt="トップス" class="over"></a></li>
		<li><a href="cart.cgi?field=2"><img src="../common/images/ranking/btn_bottoms.jpg" alt="ボトムス＆ワンピース" class="over"></a></li>
		<li><a href="cart.cgi?field=3"><img src="../common/images/ranking/btn_outer.jpg" alt="アウター" class="over"></a></li>
		<li><a href="cart.cgi?field=4"><img src="../common/images/ranking/btn_goods.jpg" alt="グッズ" class="over"></a></li>
		<li><a href="cart.cgi?field=5"><img src="../common/images/ranking/btn_coordinate.jpg" alt="コーディネート" class="over"></a></li>
	</ul>
</div>
<!--SKIN_CATALOG_FOOT_END-->



