@charset:"UTF-8";

#top_head {
	position: relative;
	top: 9px;
	height: 680px;
}

#top_head .img_vis {
	position: absolute;
	top: 55px;
	right: 40px;
}

#top_head .bg_curtain {
	background: url("../images/top/bg_window.png") no-repeat center top;
	width: 1100px;
	height: 680px;
	position: absolute;
	top: 0;
	left: 0;
}

#top_head .bg_curtain > img {
	position: absolute;
	bottom: -73px;
	right: 10px;
	z-index: 900;
}

#nav.top_nav {
	background: url("../images/top/bg_curtain.png") no-repeat left top;
	width: 279px;
	height: 821px;
	top: 25px;
}

#nav.top_nav #h_txt {
	margin-top: 40px;
}

#top_head .bg_curtain #news {
	background: url("../images/top/bg_news.png") no-repeat center top;
	width: 501px;
	height: 36px;
	padding: 18px 0 0 88px;
	position: absolute;
	left: 216px;
	bottom: 68px;
}

#top_head .bg_curtain #news p span {
	font-weight: bold;
	margin-right: 2em;
}

#top_head .bg_curtain #news p {
	font-size: 14px;
	color: #683f39;
	width: 390px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#top_head .bg_curtain #news p a {
	color: #683f39;
	text-decoration: none;
}

#top_head .bg_curtain #news p a:hover {
	text-decoration: underline;
}

#top_head .bg_curtain #news p.news_list {
	font-weight: bold;
	margin-right: 19px;
	width: auto;
}
#top_head .bg_curtain #news p.news_list a {
	color: #683f39;
}

/* content */
#content {
	background: url("../images/top/bg_dotted.png") no-repeat left top;
	width: 1100px;
	min-height: 508px;
	margin: -56px 0 0 -18px;
	padding: 65px 0 0 18px;
}

#content .works {
	float: left;
	position: relative;
	width: 574px;
	height: 505px;
}

#content .works img {
	position: absolute;
}

#content .works .btn_ex_01 {
	top: 76px;
	left: -4px;
}

#content .works .btn_ex_02 {
	top: 25px;
	right: 0;
}

#content .works .btn_example {
	top: 331px;
	right: -8px;
}

#content .works .tel_mail {
	bottom: 0;
	left: 4px;
}

#content .blog {
	float: right;
	background: url("../images/top/bg_blog.png") no-repeat center top;
	width: 482px;
	margin-top: 38px;
	position: relative;
}

#content .blog img.blog_ribbon {
	position: absolute;
	top: 0;
	left: 0;
}

#content .blog .new_blog .rssBody ul {
	background: #fff;
	width: 400px;
	height: 241px;
	margin: 79px auto 0;
}

#content .blog .new_blog .rssBody ul li {
	width: 356px;
	border-top: 1px solid #b6ac93;
	margin: 0 auto;
	padding: 20px 0;
	font-size: 14px;
	color: #54251e;
	overflow: hidden;
}

#content .blog .new_blog .rssBody ul li:first-child {
	border-top: none;
	padding-top: 25px;
}

#content .blog .new_blog .rssBody ul li span {
	float: right;
	width: 255px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#content .blog .new_blog .rssBody ul li span a {
	color: #54251e;
	text-decoration: none;
}

#content .blog .new_blog .rssBody ul li span a:hover {
	text-decoration: underline;
}

#content .blog .bnr_staffblog {
	margin-top: 71px;
}

#content .blog .new_blog .rssBody ul li div {
	float: left;
	width: 90px;
}