@charset:"UTF-8";

.content_area {
 background:#fff;
 padding:25px 25px 80px;
}
.content_area table {
	width:700px;
	margin:0 0 40px 5px;
}
.content_area table th {
	width:140px;
	font-size:14px;
	line-height:32px;
	text-align:left;
	font-weight:normal;
}
.content_area table td {
	width:560px;
	font-size:14px;
	line-height:32px;
	text-align:left;
}
.content_area table td span { padding-left:30px;}
.content_area #map_canvas {
	width:705px;
	height:345px;
	margin-left:5px;
}
.content_area .btn_area {
	text-align:right;
	margin:20px 3px;
}
.content_area .btn_area a {
	color:#be9f44;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
	letter-spacing:0.05em;
	position:relative;
}
.content_area .btn_area a:before {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
		border-style: solid;
		border-width: 3px 0 3px 6px;
		border-color: transparent transparent transparent #be9f44;
    top: 35%;
    left: -15px;
}
