@charset:"UTF-8";

.content_area {
 background:#fff;
 padding:25px 25px 80px;
}
.content_area ul {
	width:700px;
	margin-left:8px;
}
.content_area li:nth-child(3) { margin-right:0;}
.content_area li {
	width:220px;
	margin:0 20px 45px 0;
	float:left;
}
.content_area li h4 {
	text-align:center;
	margin:10px 0;
	font-weight:normal;
}
.content_area li a {
	text-decoration:none;
	font-size:13px;
	color:#595959;
}
.content_area li a:hover { text-decoration:underline;v}
.content_area li p {
	line-height:1.7em;
	font-size:13px;
}
