@charset:"UTF-8";

/*--------------------
	common
--------------------*/
html {	overflow: auto;}
* html {
	/* for IE6 */
	overflow: hidden;
	overflow-x: auto;
	height: 100%;
}
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size:12px;
	color:#595959;
	line-height: 1.5em;
	min-width: 1100px; /* overflow時のbackground対処 */
	background: #f5f3f2 url("../images/common/bg.jpg") repeat left top;
  overflow-x: hidden;
	position: relative;
}
* html body {
 /* for IE6 */
 overflow-y: auto;
 height: 100%;
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
.box-shadow { box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px; }
.box-shadow-white { box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 4px 4px; }
.bdra_s { border-radius: 2px; }
.bdra_m { border-radius: 4px; }
.bdra_l { border-radius: 6px; }
.textOverflow {
	overflow: hidden;
	width: 100%;
	height: 50px;
}
img { vertical-align:middle;}
.none { display:none;}
.over:hover { opacity:0.7;}
.shadow {
box-shadow:rgba(105, 105, 105, 0.2) 6px 6px 10px -2px;
-webkit-box-shadow:rgba(105, 105, 105, 0.2) 6px 6px 10px -2px;
-moz-box-shadow:rgba(105, 105, 105, 0.2) 6px 6px 10px -2px;
}

#wrap {
	width: 1100px;
	min-height:1100px;
	margin: 0 auto 100px;
	padding-top:5px;
	position: relative;
}
#wrap:after {
	background: url("../images/common/bg_pink.jpg") repeat-x left top;
	width:100%;
	height:5px;
	margin: 0 -500%;    
	padding: 0 500%;
	position:absolute;
	left:0;
	top:0;
}

#content {
	width: 765px;
	margin:30px 0 120px 285px;
}
#content .img_main { margin-bottom:15px;}

.content_area h3.ico_ichigo {
	font-size:15px;
	color:#595959;
	position:relative;
	padding:0 0 0 23px;
	margin-bottom:20px;
}
.content_area h3.ico_ichigo:before {
	content: "";
	width:15px;
	height:18px;
	background: url("../images/common/ico_ichigo.png") no-repeat center center;
	position:absolute;
	left:0;
	top:0px;
}
/*--------------------
	nav
--------------------*/
#page_head {
	position: relative;
	top: 0;
}
#nav {
	position: absolute;
	z-index: 999;
	text-align: center;
	width: 220px;
	padding-right:6px;
	height: 1130px;
	top: 25px;
	left:45px;
}
#nav nav {
	background: url("../images/common/bg_menu.png") no-repeat left top;
	height:767px;
}
#nav .main_logo { margin:45px 0 15px;}
#nav h1#h_txt {
	color:#595959;
	font-size: 11px;
	line-height: 1.455em;
	margin-bottom:10px;
}
#nav ul {
	text-align: center;
}
#nav ul.qr_code {
	background: url("../images/common/bg_qr.png") no-repeat left top;
	height:414px;
	padding:75px 0 0;
}
#nav ul.qr_code li { margin-bottom:20px;}
#nav ul.qr_code img { margin-bottom:10px;}
#nav ul.qr_code span {
	color:#ea6290;
	padding:2px 5px;
	border:1px solid #ea6290;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
.btn_totop {
	position:fixed;
	right:0;
	padding-bottom:30px;
}

/*--------------------
	footer
--------------------*/
footer {
	width: 100%;
	background: #fb6899 url("../images/common/bg_pink.jpg") repeat left top;
	color:#fff;
}
#footer {
	width:1000px;
	margin:0 auto;
	padding:25px 0 40px;
}
#footer div.fll {
	width:295px;
	padding-left:10px;
}
#footer h2 {
	width:150px;
	float:left;
	text-align:center;
}
#footer h3 {
	font-size:15px;
	margin-bottom:10px;
}
#footer .fll p {
	font-size:13px;
	margin-bottom:10px;
}
#footer div.flr {
	width:515px;
	text-align:right;
}
#footer a {
 color:#fff;
 text-decoration:none;
}
#footer a:hover { text-decoration:underline;}
#footer div.flr li {
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
#footer div.flr nav ul {
	background: url("../images/common/img_footerdot.png") no-repeat left center;
	margin:0 0 20px;
	padding:0;
}
#footer div.flr nav li:first-child { padding-left:-25px;}
#footer div.flr nav li {
	width:102px;
	text-align:center;
	line-height:1em;
	font-size:15px;
	letter-spacing:0.04em;
	background: url("../images/common/img_footerdot.png") no-repeat right center;
}
#footer div.flr > ul li {	margin:0 0 15px 20px;}
#footer div.flr p {	letter-spacing:0.05em;}


