@charset:"UTF-8";

#top_head {
	position: relative;
	top: 0;
	min-height: 590px;
}
#top_head .img_vis {
	position: absolute;
	top: 0;
	left: -20px;
}
#top_head .bg_curtain {
	height:40px;
	background: url("../images/common/bg_pink.jpg") repeat center top;
	position: absolute;
	left: 216px;
	bottom: 0;
	margin: 0 -500%;    
	padding: 10px 500%;
}

#top_head .bg_curtain #news {
	width:765px;
	background: #fff;
	margin:0 0 0 70px;
	padding:13px 0 7px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	position:relative;
}
#top_head .bg_curtain #news:before {
	content: "";
	width:84px;
	height:26px;
	background: url("../images/index/ttl_news.jpg") repeat center top;
	position:absolute;
	left:20px;
	top:6px;
}
#top_head .bg_curtain #news p span {
	font-weight: bold;
	margin-right: 1.5em;
}
#top_head .bg_curtain #news p:not(.news_list) {
	font-size: 14px;
	font-weight:bold;
	width: 520px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-left:120px;
}
#top_head .bg_curtain #news p a {
	color:#595959;
	text-decoration: none;
}
#top_head .bg_curtain #news p.news_list {
	font-weight: bold;
	margin-right: 19px;
	width: auto;
}
#top_head .bg_curtain #news p.news_list a {	color: #683f39;}
#top_head .bg_curtain #news p a:hover {	text-decoration: underline;}

/* content */
#content .bnr_area li {
	margin-bottom:20px;
}
#content .item {
	width:297px;
	padding:100px 21px 15px 19px;
	background:#fff;
	border-left:9px solid #e09fff;
	border-right:9px solid #e09fff;
	position:relative;
}
#content .item:before {
	content: "";
	width:355px;
	height:87px;
	background: url("../images/index/ttl_item.jpg") no-repeat center left;
	position:absolute;
	left:-9px;
	top:0;
}
#content .item:after {
	content: "";
	width:355px;
	height:14px;
	background: url("../images/index/bottom_item.jpg") no-repeat center left;
	position:absolute;
	left:-9px;
	bottom:0;
}
#content .item dt {
	width:130px;
	text-align:center;
	display:table-cell;
	vertical-align:top;
}
#content .item dt a img:hover { opacity:0.7;}
#content .item dt img {
	max-width:110px;
	padding:10px;
	background: url("../images/index/bg_item.jpg") repeat top left;
box-shadow:rgba(153, 153, 153, 0.6) 3px 3px 6px 0px;
-webkit-box-shadow:rgba(153, 153, 153, 0.6) 3px 3px 6px 0px;
-moz-box-shadow:rgba(153, 153, 153, 0.6) 3px 3px 6px 0px;
}
#content .item dd {
	width:140px;
	display:table-cell;
	vertical-align:top;
	padding-left:20px;
}
#content .item dd h3 {
	font-size:14px;
	line-height:1.5em;
	font-weight:bold;
	padding-bottom:10px;
	border-bottom:2px dashed #ff6699;
}
#content .item dd a {
	color:#545454;
	text-decoration:none;
}
#content .item dd a:hover { text-decoration:underline;}
#content .item dd p {
	font-size:14px;
	color:#ff6699;
	font-weight:bold;
	margin-top:10px;
}
#content .item .btn_area {	margin:25px 0;}
#content .sub_bnrarea {	width:390px;}
#content .sub_bnrarea h2 {	margin-bottom:7px;}
#content .sub_bnrarea p {	margin-bottom:10px;}
#content .sub_bnrarea a img {	margin-bottom:20px;}

