@charset:"UTF-8";

.img_instagram {
	text-align:center;
	margin:30px 0;
}
#content_instagram {
	width:979px;
	background:#eaeaea;
	position:relative;
	border:12px solid #d0d0d0;
	border-right-width:9px;
	margin:0 auto;
}
#content_instagram dl {
	width:1000px;
	height:625px;
	background: url("../images/instagram/main_img.jpg") no-repeat left top;
	position:relative;
	left:-12px;
	top:-12px;
}
#content_instagram dt {
	width:520px;
	position:absolute;
	top:476px;
	left:170px;
}
#content_instagram dt h3 {
	font-size:19px;
	line-height:1.5em;
	color:#000;
	margin-bottom:5px;
}
#content_instagram dt p { margin-bottom:3px;}
#content_instagram dt span {
	font-size:14px;
	font-weight:bold;
	padding-right:5px;
}
#content_instagram dt a {
	color:#4b82a6;
	text-decoration:none;
}
#content_instagram dt a:hover { text-decoration:underline;}
#content_instagram dd {
	width:250px;
	position:absolute;
	top:505px;
	left:715px;
}
#content_instagram ul {
	width:940px;
	margin:0 0 0 23px;
}
#content_instagram li {
	float:left;
	border:1px solid #dadadc;
	margin-left:19px;
	margin-bottom:19px;
}
#content_instagram li img {
	max-width:160px;
	border:5px solid #fff;
}


#wrap p.btn_area {
	text-align:center;
	margin:30px 0 100px;
	
}


