@charset:"UTF-8";

.content_area {
 background:#fff;
 padding:25px 25px 15px;
}
.content_area ul {
	width:680px;
	margin-left:10px;
}
.content_area li {
	width:325px;
	margin-bottom:30px;
	float:left;
}
.content_area li dt {
	width:150px;
	float:left;
}
.content_area li dt a img {
	max-width:126px;
	border:2px solid #ea6290
}
.content_area li dd {
	width:175px;
	float:right;
}
.content_area li dd h4 {
	font-size:14px;
	line-height:1.6em;
	margin:10px 0;
	padding-bottom:10px;
	border-bottom:dashed 1px #ccc;
}
.content_area li dd a {
	color:#545454;
	text-decoration:none;
}
.content_area li dd a:hover { text-decoration:underline;}
.content_area li dd p {
	font-size:14px;
	font-weight:bold;
	color:#ff6699;
}
.content_area li dd {
}





