@charset:"UTF-8";
.cf:after {
	content: "";
	clear: both;
	display: block;
}

div.top_news {
	height:2em;
	overflow:hidden;
}
div.top_news a {
	color:#fff;
}
div.top_news .main_title {
	width:490px;
	font-size:15px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}


.content_area {
 background:#fff;
 padding:25px 25px 30px;
}
.content_area iframe {
	margin:0 0 0 5px;
}

.list_page li {
	width:700px;
	padding:15px 0;
	border-bottom:1px dashed #e4e2e2;
}
.list_page dl {
	width:700px;
}
.list_page li dt {
	width:90px;
	font-size:14px;
	font-weight:bold;
	display:table-cell;
	vertical-align:text-bottom;
	color:#ea6290;
	float:left;
}
.list_page li dd {
	width:560px;
	font-size:13px;
	font-weight:bold;
	float:right;
	display:table-cell;
	vertical-align:text-bottom;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.list_page .pager {
	text-align:center;
	margin:50px 0;
}

.detail_page .title_area {
	border-bottom:1px dashed #e4e2e2;
	padding-bottom:15px;
	margin-bottom:15px;
}
.detail_page .title_area dt {
	width:550px;
	display:table-cell;
	vertical-align:middle;
	padding-right:25px;
}
.detail_page .title_area dt p {
	font-size:13px;
	color:#ea6290;
	font-weight:bold;
	line-height:1.5em;
	margin-bottom:5px;
}
.detail_page .title_area dt h3 {
	font-size:17px;
	color:#595959;
	line-height:1.7em;
}
.detail_page .title_area dd {
	width:150px;
	display:table-cell;
	vertical-align:top;
}


