@charset:"UTF-8";

.content_area {
 background:#fff;
 padding:25px 20px 40px 30px;
}
.content_area h3 {
 margin:0 0 25px;
 text-align:center;
}
.content_area .ranking_nav {
	display:none;
	margin:10px 0 35px;
}
.content_area .ranking_nav li:first-child { margin-left:0;}
.content_area .ranking_nav li {
	float:left;
	margin-left:20px;
}
.content_area h4 {
	width:705px;
	height:38px;
	margin-bottom:20px;
}
.content_area .ranking_tops {	background: url("../images/ranking/ttl_tops.jpg") no-repeat left top;}
.content_area .ranking_bottoms {	background: url("../images/ranking/ttl_bottoms.jpg") no-repeat left top;}
.content_area .ranking_outer {	background: url("../images/ranking/ttl_outer.jpg") no-repeat left top;}
.content_area .ranking_goods {	background: url("../images/ranking/ttl_goods.jpg") no-repeat left top;}
.content_area .ranking_coordinate {	background: url("../images/ranking/ttl_coordinate.jpg") no-repeat left top;}
.content_area .ranking_list {
	margin-bottom:50px;
}
.content_area .ranking_list li:first-child { margin-left:0;}
.content_area .ranking_list li {
	width:162px;
	float:left;
	padding-top:30px;
	margin-left:20px;
}
.content_area .ranking_list li.rank_no1 { background: url("../images/ranking/img_1.jpg") no-repeat center top;}
.content_area .ranking_list li.rank_no2 { background: url("../images/ranking/img_2.jpg") no-repeat center top;}
.content_area .ranking_list li.rank_no3 { background: url("../images/ranking/img_3.jpg") no-repeat center top;}
.content_area .ranking_list li.rank_no4 { background: url("../images/ranking/img_4.jpg") no-repeat center top;}
.content_area .ranking_list .list_img {	text-align:center;}
.content_area .ranking_list .list_img a { cursor:default;}
.content_area .ranking_list .list_img img {
 border:1px solid #e8e7e5;
 max-width:160px;
 height:auto !important;
}
.content_area .ranking_list h5 {
	font-size:14px;
	line-height:1.7em;
	margin:15px 0;
}
.content_area .ranking_list .btn_detail { text-align:center;}

.content_area .detail_page {
	margin-bottom:80px;
}
.content_area .detail_page .detail_img {
	width:350px;
	float:left;
}
.content_area .detail_page .detail_img img {
 border:1px solid #e8e7e5;
 max-width:350px;
 height:auto !important;
}
.content_area .detail_page .detail_data {
	width:325px;
	float:right;
	font-size:13px;
	line-height:1.5em;
}
.content_area .detail_page .detail_data h5 {
	font-size:22px;
	line-height:1.5em;
	margin:20px 0;
}







