			<div id="main">
				<div id="mainInner">
					{assign var=img_option value=['alt'=>'利用規約', 'width'=>50]}
					<h2 class="h2">{Asset::img('admin/ttl_agree.png', $img_option)}利用規約</h2>

                    <div id="mainInnerBox">
                    	<EMBED src="{$agreement_url}{Digconst::PDF_ZOOM}" type="application/pdf"  width="100%" height="600">
                    </div>

				</div>
			</div>