@charset:"UTF-8";
.page_content dl {
	margin:5% auto 10%;
}
.page_content dt {
	font-size:2.2rem;
	line-height:1.5em;
	font-weight:bold;
	color:#ff6699;
	margin:3% 0;
	border-bottom:2px dashed #ddd;
}
.page_content dd {
	font-size:1.8rem;
	line-height:1.7em;
}
.page_content dd .btn_contact {
	display:inline-block;
	width:28%;
	margin-top:2%;
}
.page_content #map_canvas {
	width:100%;
	height:40em;
}
.page_content .btn_area {
	text-align:right;
	font-size:1.8rem;
	font-weight:bold;
	line-height:1.5em;
	margin:1.5% 0;
}
.page_content .btn_area a {
	color:#be9f44;
	text-decoration:none;
	position:relative;
}
.page_content .btn_area a:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border-style: solid;
	border-width: 0.4em 0 0.4em 0.5em;
	border-color: transparent transparent transparent #be9f44;
	top: 15%;
	left: -1em;
}


