@charset:"UTF-8";
.page_content dl {
	width:90%;
	margin:5% auto 13%;
}
.page_content dd h4 {
	font-size:2.5rem;
	line-height:1.5em;
	text-align:center;
	margin:3% 0;
}
.page_content dd p {
	font-size:1.8rem;
	line-height:1.7em;
}
.page_content {
}



