@charset:"UTF-8";

/*--------------------
	common
--------------------*/
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size: 62.5%;
	color:#585959;
	line-height: 1.5em;
	background: #fef9e8 url("../images/common/bg.jpg") repeat left top;
}
.cf:after {
	content: "";
	clear: both;
	display: block;
}
.none { display:none;}
.fll { float: left; }
.flr { float: right; }
.tbl { display: table; }
.cell { display: table-cell; }
.box-shadow { box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px; }
.box-shadow-white { box-shadow:rgba(255, 255, 255, 0.2) 0px 0px 4px 4px; }
.bdra_s { border-radius: 2px; }
.bdra_m { border-radius: 4px; }
.bdra_l { border-radius: 6px; }
.textOverflow {
	overflow: hidden;
	width: 100%;
	height: 50px;
}
img { vertical-align: bottom; }

#wrap {
	width: 93%;
	margin: 0 auto;
}

#content {
	width: 100%;
}

#content.page {
	background: #fff;
	border-radius: 15px;
	margin-top: 3.5%;
	padding-top: 3.5%;
	padding-bottom: 12%;
}

.shadow {
box-shadow:rgba(105, 105, 105, 0.2) 6px 6px 10px -2px;
-webkit-box-shadow:rgba(105, 105, 105, 0.2) 6px 6px 10px -2px;
-moz-box-shadow:rgba(105, 105, 105, 0.2) 6px 6px 10px -2px;
}

/*--------------------
	header
--------------------*/
header {
	padding-top: 15px;
	position: relative;
}

header:not(#top_header) h1 {
	width: 23%;
	height:15em;
	text-align:left;
	background: url("../images/common/logo_page.png") no-repeat left top;
	background-size:contain;
	margin-top:2%;
}
header h1 a {
	display:block;
	width: 100%;
	height:100%;
	text-indent:-9999px;
}


/*--------------------
	menu
--------------------*/
header:not(#top_header) #menu {
	display: block;
	width: 15%;
	position: absolute;
	top: 19.5%;
	right: 0;
}

#overflow {
	width: 87.5%;
	height: 100%;
	padding: 0 6.25%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

nav {
	width: 100%;
	height: 100%;
	text-align:center;
	position: absolute;
	z-index: 999;
	top: 0;
	right: 0;
}
nav .menu_over {
	width:100%;
	background:#ea6591;
	position:absolute;
	padding:0 7.6% 0 0;
	left:-3.8%;
	top:0;
	opacity:0.9;
}
nav ul {
	position:relative;
	left:0;
}
nav ul.nav_area {
	margin-bottom:16%;
	top:8%;
}
nav ul.nav_area li {
	line-height: 1.3;
}

nav ul li#close {
	width:20%;
	margin:0 0 -5% auto;
	cursor: pointer;
	position:relative;
	right:-2.7%;
	top:0;
}

nav ul.nav_area li:not(#close) {
	width:55%;
	margin:0 auto 6%;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin: 0 4px;
}

nav ul.btn_area li {
	width:70%;
	margin:0 auto 6%;
}
#content {
	width: 93%;
	margin: 4.3% auto;
}
#content .main_title {
	width:107.75%;
	margin:2.5em 0 2.5em -4%;
}
#content .icon_ichigo {
	font-size:2.2rem;
	line-height:1.5em;
	margin-bottom:5%;
	padding-left:1.5em;
	position:relative;
}
#content .icon_ichigo:before {
	content:'';
	width:1.2em;
	height:1.2em;
	position:absolute;
	left:0;
	top:0.1em;
	background: url("../images/common/ico_ichigo.png") no-repeat left top;
	background-size:contain;
}
#content .page_content {
	width: 90%;
	padding:5%;
	margin: 4.3% auto;
	background:#fff;
}

#content #appli_area {
	position:relative;
	margin-top:10%;
}
#content #appli_area h2 {
	position:relative;
	top:0;
	left:0;
	z-index:1;
}
#content #appli_area ul {
	position:absolute;
	width:88%;
	padding:0 6%;
	top:40%;
	left:0;
	z-index:2;
}
#content #appli_area li {
	width:44%;
	margin:0 3%;
	padding:0;
	text-align:center;
	display:inline-block;
	*display: inline;
	*zoom: 1;
}
#content #appli_area li p {
	color:#ea6290;
	font-size: 1.8rem;
	margin:10% 0 0;
}

/*--------------------
	footer
--------------------*/
footer {
	width: 100%;
	margin-top: 10%;
	font-size: 2.2rem;
	line-height: 1.18em;
	border-top:3px solid #ea6591;
	color: #fff;
	background: url("../images/common/bg_pink.jpg") repeat left top;
}

footer ul {
	width: 100%;
	background:#ea6591;
}

footer ul li {
	width: 49.843%;
	float: left;
	border-bottom:3px solid #ea6591;
}
footer ul li img {
	margin:0;
	padding:0;
}
footer ul li:nth-child(even) {
	float: right;
}

footer .f_inq .f_logo {
	width: 30%;
	margin: 5% auto 5%;
}

footer .f_inq h2 {
	font-size: 2.5rem;
	width:80%;
	margin:0 auto 2%;
}
footer .f_inq .address {
	width:86%;
	padding:0 0 0 5%;
	letter-spacing:-0.1em;
	margin:0 auto 4%;
	font-size: 1.6rem;
}

footer .btn_area {
	width:80%;
	margin:0 auto 4%;
}

footer .copy {
	font-size: 1.6rem;
	text-align: center;
	padding: 1.5% 0 5% 0;
}
