@charset:"UTF-8";
header#top_header h1 {
	width: 30%;
	text-align:left;
	margin: 0;
}

header#top_header h1 {
	width: 34%;
	height:22em;
	text-align:left;
	margin: 0;
	background: url("../images/index/logo.png") no-repeat left top;
	background-size:contain;
}
#top_header #menu {
	display: block;
	width: 15%;
	position: absolute;
	top: 15%;
	right: 0;
}
#wrap {
	background: url("../images/index/img_main.jpg") no-repeat left top;
	background-size:cover;
	padding:0 3.5% 35%;
}
.img_window {
	width: 87.5%;
	margin: 0 auto;
}

#news_area {
	position: relative;
	width: 93%;
	margin: 0 auto;
	padding:2% 3.5%;
	background: url("../images/common/bg_pink.jpg") repeat left top;
}

#news_area p {
	font-weight: bold;
	width: 71.428%;
	font-size: 2rem;
	line-height: 1.55em;
	position: absolute;
	top: 25%;
	left: 22%;
	z-index: 99;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	color: #585959;
	opacity:0;
}
#news_area iframe {
	width:95%;
	height:4em;
}
#content {
	width: 93%;
	margin: 4.3% auto;
}
#content .bnr_area li {
	margin-bottom:4.3%;
}
#content #item_area {
	background: url("../images/index/bg_item.jpg") repeat-y left top;
	background-size:contain;
	padding:0 0 8%;
	margin-bottom:4.3%;
	position:relative;
}
#content #item_area .new_item {
	width:87%;
	margin:5% auto 0;
}
#content #item_area .new_item dt {
	width:30%;
	display:table-cell;
	vertical-align:top;
}
#content #item_area .new_item dt a {
	display:block;
	background: url("../images/index/bg_items.jpg") repeat left top;
	padding:5%;
	box-shadow:rgba(153, 153, 153, 0.6) 3px 3px 6px 0px;
	-webkit-box-shadow:rgba(153, 153, 153, 0.6) 3px 3px 6px 0px;
	-moz-box-shadow:rgba(153, 153, 153, 0.6) 3px 3px 6px 0px;
}
#content #item_area .new_item dd {
	width:65%;
	display:table-cell;
	vertical-align:top;
	padding:2.5% 0 0 5%;
}
#content #item_area .new_item dd h3 {
	font-size:2.2rem;
	line-height:1.5em;
	font-weight:bold;
	padding-bottom:7%;
	border-bottom:1px dashed #ff6699;
}
#content #item_area .new_item dd a {
	color:#545454;
	text-decoration:none;
}
#content #item_area .new_item dd p {
	font-size:2rem;
	line-height:1.5em;
	color:#ff6699;
	font-weight:bold;
	margin-top:7%;
}
#content #item_area .btm_item {
	position:absolute;
	bottom:0;
	left:0;
}
#content #item_area .btn_area {
	width:87%;
	margin:4% auto 0;
}
