@charset:"UTF-8";
#content .main_title { margin-bottom:0 !important;}
section dl {
	width:107.75%;
	margin:0 0 2.5em -4%;
}
section dl {
	width:100%;
	padding:4% 3.86%;
	margin-bottom:0;
	background:#fff;
	box-shadow:rgba(128, 128, 128, 0.2) 0px 0px 4px 4px;
}
section dt {
	width:17%;
	float:left;
	margin-bottom:4%;
}
section dd {
	width:79%;
	margin-bottom:4%;
	font-size:1.8rem;
	line-height:1.6em;
	float:right;
	word-break: break-all;
}
section dd span {
	font-size:1.9rem;
	font-weight:bold;
}
section dd a {
	color:#4b82a6;
	text-decoration:none;
}
section ul {
	width:100%;
	margin:0 0 0 -3.6%;
	padding:4% 3.65% 1%;
	background:#eaeaea;
}
section ul li {
	width:22%;
	float:left;
	margin:0 0 2% 3%;
	border:1px solid #dadadc;
}
section ul li img {
	width:100%;
	border:4px solid #fff;
}
section .btn_area { margin-top:4%;}


