@charset:"UTF-8";
.page_content li { list-style:none;}
.page_content dl {
	width:100%;
	margin:5% auto 8% ;
}
.page_content dt {
	width:25%;
	display:table-cell;
	vertical-align:top;
}
.page_content dt img {
	width:100%;
	border:2px solid #eb6c97;
}
.page_content dd {
	width:70%;
	padding-left:5%;
	display:table-cell;
	vertical-align:top;
}
.page_content dd h4 {
	font-size:2rem;
	line-height:1.7em;
	margin:1.5% 0;
	padding:0 0 1.5% 0;
	border-bottom:2px dashed #ddd;
}
.page_content dd h4 a {
	color:#545454;
	text-decoration:none;
}
.page_content dd p {
	font-size:1.8rem;
	line-height:1.7em;
	color:#ff6699;
	font-weight:bold;
}
.page_content {
}



