@charset:"UTF-8";
body {
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, MS PGothic, sans-serif;
	font-size: 62.5%;
	color:#585959;
	line-height: 1.5em;
}
img { vertical-align: bottom; }
.cf:after {
	content: "";
	clear: both;
	display: block;
}

.top_news a {
	padding:0;
	font-size:1.9rem !important;
	line-height:1em;
}
.top_news span {
	display:block;
	margin-bottom:-0.5em;
	width:55%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#topics_list {
	overflow:scroll;
  -webkit-overflow-scrolling:touch;
	width:100%;
	height:80em;
}
.list_page li {
	padding:3% 0;
	border-bottom:2px dashed #ddd;
}
.list_page li dt {
	color:#ea6290;
	font-weight:bold;
	margin:0 0 1% 0;
	padding:0;
}
.list_page li dd {
	font-weight:bold;
	margin:0;
	padding:0;
}
.list_page li dd a {	display:block;}
.list_page .pager {
	margin:8% 0;
	text-align:center;
}
.list_page li dt ,
.list_page li dd a ,
.list_page .pager ,
.list_page .pager a {
	font-size:1.7rem !important;
	line-height:1.7em;
}


#topics_detail {
	overflow:scroll;
  -webkit-overflow-scrolling:touch;
	width:100%;
	height:80em;
}
.detail_page .title_area {
	width:100%;
	border-bottom:2px dashed #ddd;
	padding-bottom:3%;
	margin-bottom:3%;
}
.detail_page .title_area p {
	font-size:1.8rem;
	line-height:1.7em;
	font-weight:bold;
	color:#ea6290;
}
.detail_page .title_area h3 {
	font-size:2.2rem;
	line-height:1.7em;
}
.detail_page .title_area dd {
	display:none;
}
.detail_page .detail_main {
	font-size:1.6rem;
	line-height:1.7em;
	margin-bottom:5%
}







