@charset "UTF-8";
/* CSS Document */

/*
border-radiusなどのcss3以降からの対応機能をIEで表示するには
対応させたい各セレクタのプロパティに
behavior: url(/js/PIE.htc);
と一行追加すること。
参考url:http://webmemo.biz/html5-css3
*/

*{
	margin:0;
	padding:0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

	text-decoration:none;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {
display: inline-block;
}


html{
	height:100%;
}

body{/* それぞれ任意の値に変更 */
	color:#444;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight:normal;
	line-height:1.5;
	background-color:#efefef;
	height:100%;
  -webkit-text-size-adjust: 100%;

}

#header{
	width:100%;
}

#container{
	/*overflow:hidden;*/
	min-height: 100%;
	position: relative;
}
#gnav ul{
	list-style-type:none;
	text-decoration:none;

}
.tleft{
	text-align:left;
}
.tright{
	text-align:right;
}
.mbottom10{
	margin-bottom:10px;
}
.mright20{
	margin-right:20px;
}
.mleft10{
	margin-left:10px;
}
.f08{
	font-size:.8em;
}

.red{
	color:#ff0000;
}

textarea { font-family: inherit; resize:none; }

/*** スマートフォン用 ***/
@media only screen and (max-width:640px){


/*****************************
          header
*****************************/
#headerInner{
	background-color:#333;
	overflow:hidden;
	color:#fff;
	font-size:13px;
}

#loginId{
	float:left;
	width:100%;
	padding:20px;
}
#logout{
	float:right;
	width:100%;
	text-align:left;
	padding:20px;
}
#loginId a,
#logout a{
	color:#fff;
	text-decoration:none;
}


#loginId a img,
#logout a img{
	margin-right:10px;
	vertical-align:-50%;
}

/*****************************
          contents
*****************************/
#contents{
	height:100%;
	background-color:#efefef;
	padding-bottom: 50px;
}




/*****************************
          ログイン画面
*****************************/
#loginTtl{
	width:100%;
	padding-left:15px;
}
#loginTtl a{
	color:#fff;
	text-decoration:none;
}

#loginTtl a img{
	margin:9px 9px 9px 0;
	vertical-align:-17px;
}
#logMain{
	width:100%;
	padding:15px;
}
#logMain #mainInner{
	margin:0 auto;
	padding:20px;
}
#logMain #mainInner #mainInnerBox{
	text-align:left;
}

#logMain #mainInner #mainInnerBox #confirmBox{
	width:100%;
	height:auto;
	background-color:#333;
	text-align:right;
	padding:10px;
	vertical-align:-50%;
}


.button{
	width: 70px;
	height:35px;
	color:#fff;
	font-size:12px;
	background-color: #279aab;
	border-radius:5px;
	-moz-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;

	-webkit-appearance:none;
	cursor:pointer;
	margin-left:10px;


}


.button_p{
	width: 140px;
	height:35px;
	color:#fff;
	font-size:12px;
	background-color: #279aab;
	border-radius:5px;
	-moz-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;

	-webkit-appearance:none;
	cursor:pointer;
	margin-left:10px;

	float:left;
}




/*****************************
          gnav
*****************************/
#gnav{
	background-color:#0b2338;
	width:100%;
}

#menu{
 	width: 100%;
	margin: 0 auto;
	padding: 0 0 20px;
  	display: none;

}
#menu li{
  display: block;
  float: left;
     width: 100%;
  margin: 0;
  padding: 0;


	color:#fff;
	font-size:16px;
	font-weight:bold;
	padding:10px 0 10px 18px;
	background-color:#0b2338;

}
#menu li a{
  display: block;
  padding: 12px 0 10px;
  background: #0b2338;
  color: #fff;
  text-align: center;
  text-decoration: none;
}


#toggle{
  display: block;
  position: relative;
  width: 100%;
  background: #0b2338;
}
#toggle a{
  display: block;
  position: relative;
  padding: 12px 0 10px 50px;
  border-bottom: 1px solid #0b2338;
  color: #fff;
  text-align: left;
  text-decoration: none;
}

/* メニューボタン部分 */
  #toggle:before{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    background: #fff;
  }
  #toggle a:before, #toggle a:after{
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 20px;
    width: 20px;
    height: 4px;
    background: #0b2338;
  }
  #toggle a:before{
    margin-top: -6px;
  }
  #toggle a:after{
    margin-top: 2px;
  }



#gnav ul li.last{
	padding-bottom:20px;
	margin-bottom:10px;
}
#menu li img{
	margin-right:10px;
	vertical-align:-10px;
}


#menu a:hover li{
	display:block;
	background-color:#1c3a54;
	color:#fff;
	text-decoration:none;

}


/*****************************
          main
*****************************/
#main{
	width:100%;
	height:auto;
	background-color:#efefef;
}

#mainInner{
	padding:15px;
}

.h2{
	font-size:22px;
	color:#555555;
	margin-bottom:15px;
}
.h2 img{
	margin-right:10px;
	vertical-align:-50%;
}

#mainInnerBox{
	border:1px solid #ccc;
	background-color:#fff;
	padding:15px;
	text-align:center;
	margin-bottom:20px;
}

/*****************************
          list.html
*****************************/
#loginDate{
	text-align:left;
	font-size:15px;
	font-weight:bold;
}
#listIndex{
	text-align:left;
	list-style-type:none;
	font-size:12px;
	padding-bottom:15px;
	border-bottom:10px solid #000;
	margin-bottom:45px;
}
#listIndex li{
	display:inline;
	border-right:1px solid #444;
}
#listIndex li:last-child{
	border-right:none;
}
#listIndex li a{
	color:inherit;
	text-decoration:none;
}

/** テーブル **/
table#listTbl,
table#catTbl{
	width:100%;
	border-collapse:collapse;
	margin-bottom:15px;
	font-size:14px;
	line-height:2;
}
/* Zebra striping */
tr:nth-of-type(even) {
	background: #f7f9fd;
}
/* Force table to not be like tables anymore */
table#listTbl, table#catTbl,table#regTbl,
table#listTbl thead, table#catTbl thead, table#regTbl thead,
table#listTbl tbody,table#catTbl tbody, table#regTbl tbody,

table#listTbl th,table#catTbl th, table#catTbl th,
table#listTbl td,table#catTbl td, table#catTbl td,
table#listTbl tr, table#catTbl tr, table#catTbl tr{
	display: block;
}

table#listTbl th,table#catTbl th, table#catTbl th,
table#listTbl td,table#catTbl td, table#catTbl td{
	padding:8px;
}



/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

tr { border: 1px solid #ccc; }

table#listTbl th,
table#catTbl th {
	border-right:1px solid #ffff00;
}


table#listTbl td,
table#catTbl td {
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #ccc;
	position: relative;
	padding-left: 45%;
	text-align:left;
}

table#listTbl td:before,
table#catTbl td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 0px;
	left: 12px;
	width: 30%;
	height:100%;
	vertical-align:middle;
	line-height:3;
	padding-right:10px;
	white-space: nowrap;
	border-right:1px solid #ccc;
}

table#listTbl td input[list="category_list"],
table#catTbl td input[list="category_list"]{
	width:80%;
}



/*
Label the data
*/
table#listTbl td:nth-of-type(1):before { content: "記事No.";}
table#listTbl td:nth-of-type(2):before { content: "タイトル";}
table#listTbl td:nth-of-type(3):before { content: "公開日"; }
table#listTbl td:nth-of-type(4):before { content: "公開時間"; }
table#listTbl td:nth-of-type(5):before { content: "状態"; }
table#listTbl td:nth-of-type(6):before { content: "カテゴリ"; }
table#listTbl td:nth-of-type(7):before { content: "管理者"; }
table#listTbl td:nth-of-type(8):before { content: "操作"; }
table#listTbl td:nth-of-type(9):before { content: "削除"; }




table#listTbl tbody tr,
table#catTbl tbody tr,
table#regTbl tbody tr{
	display: block;
    margin-bottom: 1.5em;
}
tbody th,
tbody td{
    /*display: list-item;*/
    border-bottom:1px dotted #ccc;
}

#pageChange{
	text-align:center;
	font-size:14px;
	margin-bottom:15px;
}
#confirmBox{
	width:100%;
	height:auto;
	background-color:#333;
	text-align:right;
	padding:10px;
	vertical-align:-50%;
	color:#fff;
	font-size:11px;
}


/*****************************
          category.html
*****************************/
.catBox{
	width:100%;
	border:1px solid #ccc;
	padding:20px;
	margin-bottom:20px;
}
.h3{
	text-align:left;
	border-bottom:5px solid #333;
	padding-bottom:5px;
	margin-bottom:20px;
}

table#catTbl td:nth-of-type(1):before { content: "No."; }
table#catTbl td:nth-of-type(2):before { content: "ソートID"; }
table#catTbl td:nth-of-type(3):before { content: "カテゴリ"; }
table#catTbl td:nth-of-type(4):before { content: "登録者"; }



/*****************************
          registrate.html
*****************************/
table#regTbl{
	width:100%;
	border-collapse:collapse;
	overflow:hidden;
}
table#regTbl th,
table#regTbl td{
	display:block;
}
table#regTbl th{
	background-color:#666;
	color:#fff;
	text-align:left;
	padding:10px;
}

table#regTbl td{
	text-align:left;
	padding:10px 20px;
}
table#regTbl td input[id="title"]{
	width: 100%;
}


table#FcolorTable td{
	float:left;
}
table#FbcolorTable td{
	float:left;
}
table#FiconTable td{
	float:left;
}
table#FimgTable td{
	float:left;
}
table#FsizeTable td{
	float:left;
}
textarea{
	width:90%;
	height:100px;
	margin:0 auto;
}
img#tool_pdf{
	visibility: hidden;
}
p#pdf{
	display:none;
}

/*****************************
          footer
*****************************/
#footer{
	width: 100%;
	height:50px;
	background-color:#1c3a54;
	text-align: center;
	color:#fff;
	font-size:10px;
	position:absolute;
	bottom:0;
}

.sp-log{
	position:absolute;
	bottom:0px;
}

#footer address{
	font-style:normal;
	padding-top:15px;
}
}


/*** タブレット用 ***/
@media only screen and (min-width:641px) and (max-width:768px){

/*****************************
          header
*****************************/
#header{
	height: 52px;
	background-color:#fff;
	border-bottom:1px solid #000;
}
#headerInner{
	height:49px;
	background-color:#333;
	overflow:hidden;
	color:#fff;
	font-size:15px;
	border-bottom:1px solid #000;
}

#loginId{
	float:left;
	width:50%;
	padding:8px 0 8px 18px;
}
#logout{
	float:right;
	width:40%;
	text-align:right;
	padding:8px 18px 8px 0;
}
#loginId a,
#logout a{
	color:#fff;
	text-decoration:none;
}

#loginId a img,
#logout a img{
	margin-right:10px;
	vertical-align:-10px;
}

/*****************************
          contents
*****************************/
#contents{
	background-color:#efefef;
	padding-bottom: 50px;
}


/*****************************
          ログイン画面
*****************************/
#loginTtl{
	width:100%;
	padding-left:18px;
}
#loginTtl a{
	color:#fff;
	text-decoration:none;
}

#loginTtl a img{
	margin:9px 9px 9px 0;
	vertical-align:-17px;
}
#logMain{
	width:100%;
	padding:30px;
}
#logMain #mainInner{
	min-width:600px;
	max-width:960px;
	margin:0 auto;
	padding:20px;
}
#logMain #mainInner #mainInnerBox{
	text-align:left;
}

#logMain #mainInner #mainInnerBox #confirmBox{
	width:100%;
	height:50px;
	background-color:#333;
	text-align:right;
	padding:10px;
	vertical-align:-50%;
}

.button{
	width: 70px;
	height:35px;
	color:#fff;
	font-size:12px;
	background-color: #279aab;
	border-radius:5px;
	-moz-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;

	-webkit-appearance:none;
	cursor:pointer;
	margin-left:10px;
}


.button_p{
	width: 140px;
	height:35px;
	color:#fff;
	font-size:12px;
	background-color: #279aab;
	border-radius:5px;
	-moz-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;

	-webkit-appearance:none;
	cursor:pointer;
	margin-left:10px;

	float:left;
}



/*****************************
          gnav
*****************************/
#toggle{
 display: none;
}

#gnav{
	background-color:#0b2338;
	width:100%;
	height:auto;
}
#menu{
	list-style-type:none;
	text-decoration:none;
	overflow:hidden;
}

#menu li{
	float:left;
	display:block;
	width:33%;
	color:#fff;
	font-size:15px;
	font-weight:bold;
	padding:15px 0;
}
#menu li:first-child{
	padding-left:3%;
	width:33.3%;
}

#menu li img{
	margin-right:10px;
	vertical-align:-50%;
}


#menu a:hover li{
	display:block;
	background-color:#1c3a54;
	color:#fff;
	text-decoration:none;
}


/*****************************
          main
*****************************/
#main{
	width:100%;
	height:auto;
	background-color:#efefef;
}

#mainInner{
	padding:20px;
}

.h2{
	font-size:22px;
	color:#555555;
	margin-bottom:20px;
}
.h2 img{
	margin-right:10px;
	vertical-align:-50%;
}

#mainInnerBox{
	border:1px solid #ccc;
	background-color:#fff;
	padding:20px;
	text-align:center;
}

/*****************************
          list.html
*****************************/
#loginDate{
	text-align:left;
	font-size:15px;
	font-weight:bold;
}
#listIndex{
	text-align:left;
	list-style-type:none;
	font-size:12px;
	padding-bottom:15px;
	border-bottom:10px solid #000;
	margin-bottom:45px;
}
#listIndex li{
	display:inline;
	border-right:1px solid #444;
}
#listIndex li:last-child{
	border-right:none;
}
#listIndex li a{
	color:inherit;
	text-decoration:none;
}

/** テーブル **/
table#listTbl,
table#catTbl{
	width:100%;
	border-collapse:collapse;
	margin-bottom:15px;
	font-size:14px;
	line-height:2;
}
/* Zebra striping */
tr:nth-of-type(even) {
	background: #f7f9fd;
}
/* Force table to not be like tables anymore */
table#listTbl, table#catTbl,table#regTbl,
table#listTbl thead, table#catTbl thead, table#regTbl thead,
table#listTbl tbody,table#catTbl tbody, table#regTbl tbody,

table#listTbl th,table#catTbl th, table#catTbl th,
table#listTbl td,table#catTbl td, table#catTbl td,
table#listTbl tr, table#catTbl tr, table#catTbl tr{
	display: block;
}


table#listTbl th,table#catTbl th, table#catTbl th,
table#listTbl td,table#catTbl td, table#catTbl td{
	padding:12px;
}



/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

tr{
	border: 1px solid #ccc;
}


table#listTbl td,
table#catTbl td{
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #ccc;
	position: relative;
	padding-left: 30%;
	text-align:left;
}

table#listTbl td:before,
table#catTbl td:before {
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	/*top: 6px;*/
	left: 16px;
	width: 20%;
	padding-right: 10px;
	white-space: nowrap;
	/*border-right:1px solid #ccc;*/
}

/*
Label the data
*/
table#listTbl td:nth-of-type(1):before { content: "記事No."; }
table#listTbl td:nth-of-type(2):before { content: "タイトル"; }
table#listTbl td:nth-of-type(3):before { content: "公開日"; }
table#listTbl td:nth-of-type(4):before { content: "公開時間"; }
table#listTbl td:nth-of-type(5):before { content: "状態"; }
table#listTbl td:nth-of-type(6):before { content: "カテゴリ"; }
table#listTbl td:nth-of-type(7):before { content: "管理者"; }
table#listTbl td:nth-of-type(8):before { content: "操作"; }
table#listTbl td:nth-of-type(9):before { content: "削除"; }

table#listTbl tbody tr,
table#catTbl tbody tr,
table#regTbl tbody tr{
	display: block;
    margin-bottom: 1.5em;
}
tbody th,
tbody td{
    /*display: list-item;*/
    border-bottom:1px dotted #ccc;
}

#pageChange{
	text-align:center;
	font-size:14px;
	margin-bottom:15px;
}
#confirmBox{
	width:100%;
	height:50px;
	background-color:#333;
	text-align:right;
	padding:10px;
	vertical-align:-50%;
	color:#fff;
	font-size:12px;
}



/*****************************
          category.html
*****************************/
.catBox{
	width:100%;
	border:1px solid #ccc;
	padding:20px;
	margin-bottom:20px;
}
.h3{
	text-align:left;
	border-bottom:8px solid #333;
	padding-bottom:5px;
	margin-bottom:20px;
}
table#catTbl td:nth-of-type(1):before { content: "No."; }
table#catTbl td:nth-of-type(2):before { content: "ソートID"; }
table#catTbl td:nth-of-type(3):before { content: "カテゴリ"; }
table#catTbl td:nth-of-type(4):before { content: "登録者"; }
table#catTbl td:nth-of-type(5):before { content: "削除"; }



/*****************************
          registrate.html
*****************************/
table#regTbl{
	width:100%;
	border-collapse:collapse;
}
table#regTbl th,
table#regTbl td{
	display:block;
}
table#regTbl th{
	background-color:#666;
	color:#fff;
	text-align:left;
	padding:10px;
}

table#regTbl td{
	text-align:left;
	padding:10px 20px;
}
table#regTbl td input[id="title"]{
	width: 85%;
}
table#FcolorTable td{
	float:left;
}
table#FbcolorTable td{
	float:left;
}
table#FiconTable td{
	float:left;
}
table#FimgTable td{
	float:left;
}
table#FsizeTable td{
	float:left;
}

textarea{
	width:90%;
	height:100px;
	margin:0 auto;
}
img#tool_pdf{
	visibility: hidden;
}
p#pdf{
	display:none;
}

/*****************************
          footer
*****************************/
#footer{
	width: 100%;
	height:50px;
	background-color:#1c3a54;
	text-align: center;
	color:#fff;
	font-size:10px;
	position: absolute;
	bottom: 0;
}
#footer address{
	font-style:normal;
	padding-top:15px;
}

}


/*** PC用 ***/
@media only screen and (min-width:769px){


/*****************************
          container
*****************************/
#container{
	min-height: 100%; /*最小の高さを100％（画面いっぱい）に指定します*/
	position: relative;
	background:url(../img/admin/bgline.gif) left repeat-y;
}







/*****************************
          header
*****************************/
#header{
	height: 52px;
	background-color:#fff;
	border-bottom:1px solid #000;
}
#headerInner{
	height:49px;
	background-color:#333;
	overflow:hidden;
	color:#fff;
	font-size:15px;
	border-bottom:1px solid #000;
}

#loginId{
	float:left;
	width:50%;
	padding-left:18px;
}
#logout{
	float:right;
	width:40%;
	margin-right:30px;
	text-align:right;
}
#loginId a,
#logout a{
	color:#fff;
	text-decoration:none;
}

#loginId a img,
#logout a img{
	margin:9px 9px 9px 0;
	vertical-align:-17px;
}

/*****************************
          contents
*****************************/
#contents{
	/* float:left; */
	width:100%;
	/* background-color:#efefef; */
	/* overflow:hidden; */
	padding-bottom: 50px;
}


/*****************************
          ログイン画面
*****************************/
#loginTtl{
	width:100%;
	padding-left:18px;
}
#loginTtl a{
	color:#fff;
	text-decoration:none;
}

#loginTtl a img{
	margin:9px 9px 9px 0;
	vertical-align:-17px;
}
#logMain{
	width:100%;
	padding:30px;
}
#logMain #mainInner{
	min-width:600px;
	max-width:960px;
	margin:0 auto;
	padding:20px;
}
#logMain #mainInner #mainInnerBox{
	text-align:left;
}

#logMain #mainInner #mainInnerBox #confirmBox{
	width:100%;
	height:50px;
	background-color:#333;
	text-align:right;
	padding:10px;
	vertical-align:-50%;
}


.button{
	width: 70px;
	height:35px;
	color:#fff;
	font-size:12px;
	background-color: #279aab;
	border-radius:5px;
	-moz-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;

	-webkit-appearance:none;
	cursor:pointer;
	margin-left:10px;
}


.button_p{
	width: 140px;
	height:35px;
	color:#fff;
	font-size:12px;
	background-color: #279aab;
	border-radius:5px;
	-moz-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	-webkit-box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;
	box-shadow:inset 0px 0px 0px 1px #FFF, inset 0px 0px 0px 4px #279aab, inset 0px 0px 0px 5px #FFF;

	-webkit-appearance:none;
	cursor:pointer;
	margin-left:10px;

	float:left;
}



/*****************************
          gnav
*****************************/
#toggle{
 display: none;
}

#gnav{
	float:left;
	min-width:248px;
	background-color:#0b2338;
	margin-right:30px;
}
#menu{
	list-style-type:none;
	text-decoration:none;
}

#menu li{
	display:block;
	color:#fff;
	font-size:16px;
	font-weight:bold;
	padding:10px 0 10px 18px;
}
#menu li.borderBottom{
	margin-bottom:5px;
	border-bottom:1px solid #fff;
	padding-bottom:10px;

}
#menu li img{
	margin-right:10px;
	vertical-align:-50%;
}


#menu a:hover{
	display:block;
	background-color:#1c3a54;
	color:#fff;
	text-decoration:none;
}

/*****************************
          main
*****************************/
#main{
	min-width:461px;
	height:auto;
	display:block;
	background-color:#efefef;
	margin-left:278px;
}

#mainInner{
	padding:30px 30px 30px 0;
	min-width:401px;

}

.h2{
	font-size:22px;
	color:#555555;
	margin-bottom:20px;
}
.h2 img{
	margin-right:10px;
	vertical-align:-50%;
}


#mainInnerBox{
	border:1px solid #ccc;
	background-color:#fff;
	padding:30px;
	text-align:center;
}



/*****************************
          list.html
*****************************/
#loginDate{
	text-align:left;
	font-size:15px;
	font-weight:bold;
}
#listIndex{
	text-align:left;
	list-style-type:none;
	font-size:12px;
	padding-bottom:15px;
	border-bottom:10px solid #000;
	margin-bottom:45px;
}
#listIndex li{
	display:inline;
	border-right:1px solid #444;
}
#listIndex li:last-child{
	border-right:none;
}
#listIndex li a{
	color:inherit;
	text-decoration:none;
}

/** テーブル **/
table#listTbl,
table#catTbl{
	width:100%;
	border-collapse:collapse;
	margin-bottom:15px;
}
/* Zebra striping */
tr:nth-of-type(even) {
	background: #f7f9fd;
}
th {
	background: #666;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	border: 1px solid #ccc;
	padding:8px 5px;
	vertical-align:middle;
	width:40px;
	table-layout: fixed;

}
td{
	font-size:13px;
	border: 1px solid #ccc;
	text-align: center;
	padding:18px 5px;
	vertical-align:middle;
}
td:nth-of-type(2){
	text-align: left;
}

#pageChange{
	text-align:center;
	font-size:14px;
	margin-bottom:15px;
}
#confirmBox{
	width:100%;
	height:50px;
	background-color:#333;
	text-align:right;
	padding:10px;
	vertical-align:-50%;
	color:#fff;
	font-size:12px;
}


/*****************************
          category.html
*****************************/
.catBox{
	width:100%;
	border:1px solid #ccc;
	padding:20px;
	margin-bottom:20px;
}
.h3{
	text-align:left;
	border-bottom:10px solid #333;
	padding-bottom:5px;
	margin-bottom:20px;
}






/*****************************
          registrate.html
*****************************/
table#regTbl{
	width:100%;
	border-collapse:collapse;
	line-height:2;
}
table#regTbl th.hidden_pc{
	display:none;
}
table#regTbl th{
	width:90px;
	table-layout: fixed;
}

table#regTbl td{
	text-align:left;
	padding-left:20px;
}
table#regTbl td input[id="title"]{
	width: 60%;
}

table#FcolorTable td{
	float:left;
}
table#FbcolorTable td{
	float:left;
}
table#FiconTable td{
	float:left;
}
table#FimgTable td{
	float:left;
}
table#FsizeTable td{
	float:left;
}

textarea{
	width:90%;
	height:100px;
	margin:0 auto;
}

/*****************************
          footer
*****************************/
#footer{
	clear:both;
	width: 100%;
	height:32px;
	background-color:#1c3a54;
	text-align: center;
	color:#fff;
	font-size:10px;
	position: absolute; /*#footerを絶対配置にします。*/
	bottom: 0;
	left: 0;
}
#footer address{
	font-style:normal;
	padding-top:10px;
}

}


/**** コンテンツの高さをページ全体に広げる ****/
/*
html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}
div#contents {
	overflow: hidden !important;
	overflow: visible;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
div#contents div#gnav, div#contents div#main {
	float: left;
	padding-bottom: 32767px !important;
	margin-bottom: -32767px !important;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 100%;
}
/*

div#contents div#main {
	padding-bottom: 32767px !important;
	margin-bottom: -32767px !important;
	padding-bottom: 0;
	margin-bottom: 0;
	height: 100%;
}



#footer{
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	z-index:9999;
}*/


.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
.clearfix {
display: inline-block;
}
/* Hides from IE-mac \*/
 * html .clearfix {height: 1%;}
 .clearfix {display: block;}
/* End hide from IE-mac */