﻿@charset "utf-8";
/* CSS Document */

body {
	color: #333333;
	margin: 0px;
	padding: 0px;
	font-family:"メイリオ", Meiryo, "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	font-size: 12px;
	line-height: 20px;
	clip: rect(auto,auto,auto,auto);
	background-image: url(images/back.jpg);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: center 0px;
}
p {
	padding: 0px;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin: 0px;
}
.main {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	background-attachment: scroll;
	background-image: url(images/mainback.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.cont {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	background-attachment: scroll;
	background-image: url(images/back.jpg);
	background-repeat: repeat-y;
}
.foot {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	background-attachment: scroll;
	background-image: url(images/footback.jpg);
	background-repeat: repeat-x;
}
.index-p {
	font-size: 14px;
	margin-left: 50px;
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.index-p2 {
	font-size: 12px;
	margin-left: 46px;
	line-height: 18px;
	margin-top: 10px;
	margin-right: 10px;
}
.index-p3 {
	font-size: 12px;
	margin-left: 46px;
	line-height: 18px;
	margin-top: 10px;
	margin-right: 50px;
}


.menu-p {
	margin-left: 50px;
	font-size: 14px;
	line-height: 26px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 8px;
}
.menu-p2 {
	margin-left: 70px;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	margin-top: 2px;
	font-weight: bold;
}
.menu-p3 {
	margin-left: 60px;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 4px;
}
.foot-p {
	margin-top: 18px;
	margin-left: 56px;
}
.foot-p2 {
	font-size: 12px;
	color: #000000;
	margin-top: 12px;
	margin-left: 106px;
	line-height: 16px;
}
.foot-p3 {
	font-size: 14px;
	margin-top: 46px;
	text-align: right;
	margin-right: 26px;
}
.foot-p4 {
	font-size: 10px;
	margin-top: 16px;
	text-align: right;
	margin-right: 30px;
}

.ue {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	float: right;
	margin-top: 18px;
	margin-right: 24px;
}
.go {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 220px;
	margin-bottom: 16px;
}
.ma {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 104px;
	margin-bottom: 14px;
}


h1 {
	font: normal 10px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #CCCCCC;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: 20px;
	display: none;
}
h2 {
	color: #0066FF;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 16px;
	margin: 0px;
	padding: 0px;
}
h3 {
	color: #0066FF;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}
h4 {
	color: #0066FF;
	font-family: "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}
a:link {
	color: #333333;
	font-size: 14px;
	text-decoration: none;
}
a:visited {
	color: #333333;
	font-size: 14px;
	text-decoration: none;
}
a:hover {
	color: #666666;
	font-size: 14px;
	text-decoration: underline;
}
#ao a:link {
	text-decoration: none;
	font-size: 14px;
}
#ao a:visited {
	font-size: 14px;
}
#ao a:hover {
	color: #666666;
	font-size: 14px;
	text-decoration: underline;
}
embed {
	vertical-align:bottom
}
td img {
	display: block;
}
ul {
	margin-left: 0px;
	padding-left: 10px;
}
li {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
}
.pic-left {
	padding: 3px;
	float: left;
	margin-left: 30px;
	border: thin solid #EEEEEE;
	margin-right: 10px;
	margin-bottom: 5px;
}
.pic-right {
	float: right;
	padding: 3px;
	margin-right: 5px;
	margin-left: 15px;
}
.clear_both {
	clear: both;
}
.midashi01 {
	padding-left: 50px;
	background-image: url(images/midashi1.jpg);
	background-repeat: no-repeat;
	background-position: 15px 0px;
	height: 35px;
	padding-top: 19px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}
.midashi02 {
	padding-left: 60px;
	background-image: url(images/midashi2.jpg);
	background-repeat: no-repeat;
	background-position: 25px 0px;
	height: 25px;
	padding-top: 20px;
	font-size: 12px;
	color: #5BAD30;
	font-weight: bold;
}
.pd10 {
	padding-right: 10px;
	padding-left: 10px;
}
.pic01 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
}
.td1 {
	margin-left: 20px;
}
.news-td {
	margin-left: 40px;
	margin-top: 36px;
}
img {
	border: none;
}
#news00 {
	width: 94%;
	height: auto;
	margin-left: 60px;
	margin-top: 20px;
}
.new {
	margin-bottom: 15px;
}
.mob {
	margin-top: 15px;
}
