﻿@charset "utf-8";
/* CSS Document */

body {
	color: #333333;
	margin: 0px;
	padding: 0px;
	font-family:"メイリオ", Meiryo, "Lucida Grande", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	font-size: 12px;
	line-height: 20px;
	clip: rect(auto,auto,auto,auto);
	background-image: url(images/back2.jpg);
	background-repeat: repeat-x;
	background-attachment: scroll;
	background-position: center 0px;
}
img{
	border-style:none;
}

p {
	padding: 0px;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	margin: 0px;
}
.main {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	background-attachment: scroll;
	background-image: url(images/mainback.jpg);
	background-repeat: no-repeat;
	background-position: top;
}
.cont {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	background-attachment: scroll;
	background-image: url(images/back.jpg);
	background-repeat: repeat-y;
}
.foot {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 100%;
	background-attachment: scroll;
	background-image: url(images/footback.jpg);
	background-repeat: repeat-x;
}
.index-p {
	font-size: 14px;
	margin-left: 50px;
	line-height: 22px;
	margin-top: 10px;
	margin-bottom: 20px;
}
.index-p2 {
	font-size: 12px;
	margin-left: 46px;
	line-height: 18px;
	margin-top: 10px;
	margin-right: 10px;
}
.index-p3 {
	font-size: 12px;
	margin-left: 46px;
	line-height: 18px;
	margin-top: 10px;
	margin-right: 50px;
}


.menu-p {
	margin-left: 50px;
	font-size: 14px;
	line-height: 26px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 8px;
}
.menu-p2 {
	margin-left: 70px;
	font-size: 12px;
	line-height: 16px;
	color: #FFFFFF;
	margin-top: 2px;
	font-weight: bold;
}
.menu-p3 {
	margin-left: 60px;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
	margin-top: 10px;
	font-weight: bold;
	margin-bottom: 4px;
}
.foot-p {
	margin-top: 18px;
	margin-left: 56px;
}
.foot-p2 {
	font-size: 12px;
	color: #000000;
	margin-top: 12px;
	margin-left: 106px;
	line-height: 16px;
}
.foot-p3 {
	font-size: 14px;
	margin-top: 46px;
	text-align: right;
	margin-right: 26px;
}
.foot-p4 {
	font-size: 10px;
	margin-top: 16px;
	text-align: right;
	margin-right: 30px;
}

.ue {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	float: right;
	margin-top: 18px;
	margin-right: 24px;
}
.go {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 220px;
	margin-bottom: 16px;
}
.ma {
	font-size: 10px;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 104px;
	margin-bottom: 14px;
}


h1 {
	font: normal 10px "ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3";
	color: #CCCCCC;
	margin-top: 3px;
	margin-right: 10px;
	margin-left: 20px;
	display: none;
}
h2 {
	margin: 0px;
	padding: 0px;
}
h3 {
	padding: 0px;
	margin: 0px;
}
h4 {
	padding: 0px;
	margin: 0px;
}
h5 {
	padding: 0px;
	margin: 0px;
}

a:link {
	color: #666666;
/*	font-size: 14px;*/
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	color: #666666;
/*	font-size: 14px;*/
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #666666;
/*	font-size: 14px;*/
	text-decoration: underline;
	font-weight: bold;
}
#ao a:link {
	text-decoration: none;
/*	font-size: 14px;*/
}
#ao a:visited {
/*	font-size: 14px;*/
}
#ao a:hover {
	color: #666666;
/*	font-size: 14px;*/
	text-decoration: underline;
}
embed {
	vertical-align:bottom
}
td img {
	display: block;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.list1 {
	font-size: 14px;
	line-height: 26px;
	margin-left: 80px;
	margin-right: 40px;
	list-style-type: disc;
	padding: 0px;
	margin-top: 0px;
}

.pic-left {
	padding: 3px;
	float: left;
	margin-left: 30px;
	border: thin solid #EEEEEE;
	margin-right: 10px;
	margin-bottom: 5px;
}
.pic-right {
	float: right;
	padding: 3px;
	margin-right: 30px;
	margin-left: 15px;
}
.pic-right2 {
	float: right;
	padding: 3px;
	margin-right: 30px;
	margin-left: 15px;
	margin-top: 15px;
}

.pank {
	font-size: 12px;
	color: #FF6699;
	font-weight: bold;
	text-align: right;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 8px;
}
.clear_both {
	clear: both;
	line-height: 30px;
}
.faqList2 {
	padding-left: 30px;
	background-image: url(images/q.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	margin-left: 60px;
	width: 530px;
	padding-top: 8px;
	font-weight: bold;
	color: #FF6600;
	font-size: 14px;
	margin-top: 10px;
	height: 20px;
}
.faqList3 {
	padding-left: 30px;
	background-image: url(images/a.gif);
	background-repeat: no-repeat;
	background-position: 0px 8px;
	margin-left: 60px;
	width: 590px;
	color: #333333;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.mida01 {
	padding-left: 50px;
	background-image: url(images/midashi1.jpg);
	background-repeat: no-repeat;
	background-position: 15px 0px;
	height: 35px;
	padding-top: 19px;
	font-size: 14px;
	color: #FF6699;
	font-weight: bold;
}
.mida02 {
	font-size: 14px;
	color: #009999;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	margin-bottom: 10px;
	padding-bottom: 2px;
	margin-top: 5px;
}
.mida03 {
	font-size: 14px;
	color: #FF3300;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999999;
	margin-bottom: 10px;
	padding-bottom: 2px;
	margin-top: 5px;
}

.pd1 {
	font-size: 14px;
	line-height: 26px;
	margin-left: 60px;
	margin-right: 40px;
}
.pd2 {
	font-size: 14px;
	line-height: 20px;
	margin-left: 60px;
	margin-right: 40px;
}
.pd3 {
	font-size: 12px;
	line-height: 20px;
	margin-left: 10px;
	margin-right: 5px;
}

.pla {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	color: #666666;
}
.pla2 {
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	font-weight: bold;
	color: #FF6699;
}

.td1 {
	margin-left: 30px;
	margin-bottom: 15px;
}
.td2 {
	margin-left: 50px;
	margin-bottom: 15px;
	margin-top: 6px;
}
.td3 {
	margin-left: 60px;
	margin-bottom: 15px;
	margin-top: 6px;
}
.td4 {
	margin-left: 42px;
	margin-bottom: 15px;
	margin-top: 6px;
}


.gree {
	font-size: 14px;
	line-height: 26px;
	margin-left: 60px;
	margin-right: 40px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
	margin-bottom: 6px;
}
.st {
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #333333;
	text-align: center;
}

.st1 {
	font-size: 14px;
	line-height: 26px;
	margin-left: 70px;
	margin-right: 40px;
	font-weight: bold;
	color: #333333;
}
.st2 {
	font-size: 14px;
	line-height: 26px;
	margin-left: 70px;
	margin-right: 40px;
	font-weight: bold;
	color: #009999;
}
.mini01 {
	font-size: 12px;
	line-height: 18px;
	margin-right: 15px;
	margin-left: 15px;
	text-align: left;
	color: #666666;
}
.mob {
	margin-top: 15px;
}