<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<script type="text/javascript">
	function redirect()
	{
		top.location.replace("{$pdf_url}");
	}
</script>
</head>
<body onload="redirect();">
</body>
</html>
