<!--SKIN_MENU_HEAD_START-->
<div id="contents">
	<h2>メニュー編集</h2>
	<ul>
		<li>${INFO_MESSAGE}</li>
		<li>メニューの追加は、<a href="${INFO_SSL}?plugin=Menu&amp;work=new">メニュー追加</a>から行う事ができます。</li>
	</ul>
	<form action="${INFO_FILE}" method="post">
		<fieldset>
			<legend>メニュー編集フォーム</legend>
			<input type="hidden" name="plugin" value="Menu" />
			<input type="hidden" name="work" value="edit" />
			<p>
				<input type="submit" name="exec_form" value="編集する" />
				<input type="submit" name="exec_del" value="削除する" />
				<input type="submit" name="exec_move" value="移動する" />
				<input type="reset" value="リセット" />
			</p>
			<table summary="メニュー一覧">
				<tr>
					<th>編集</th>
					<th>削除</th>
					<th>メニュー名</th>
					<!--MENU_IMAGE_START--><th>画像</th><!--MENU_IMAGE_END-->
					<th>移動元</th>
					<th>移動先</th>
				</tr>
<!--SKIN_MENU_HEAD_END-->

	<!--SKIN_MENU_START-->
				<tr>
					<td><input type="radio" name="edit" value="${MENU_URL}" /></td>
					<td><input type="checkbox" name="del" value="${MENU_URL}" /></td>
					<td><a href="${MENU_URL}">${MENU_NAME}</a></td>
					<!--MENU_IMAGE_START--><td>${MENU_IMAGE}</td><!--MENU_IMAGE_END-->
					<td><input type="radio" name="from" value="${MENU_URL}" /></td>
					<td><input type="radio" name="to" value="${MENU_URL}" /></td>
				</tr>
	<!--SKIN_MENU_END-->

<!--SKIN_MENU_FOOT_START-->
			</table>
		</fieldset>
	</form>
</div>
<!--SKIN_MENU_FOOT_END-->
