<!--SKIN_FORM_START-->
<div id="form">
	<h2>${FORM_LABEL}</h2>
	<ul>
		<li>メニュー情報を入力し、<em>登録ボタン</em>を押してください。</li>
	</ul>
	<form action="${INFO_FILE}" method="post" enctype="multipart/form-data">
		<fieldset>
			<legend>登録フォーム</legend>
			<input type="hidden" name="plugin" value="Menu" />
			<input type="hidden" name="work" value="${FORM_WORK}" />
			<input type="hidden" name="edit" value="${FORM_EDIT}" />
			<dl>
				<dt>リンク先</dt>
					<dd><input type="text" name="url" size="50" value="${FORM_URL}" /></dd>
				<dt>メニュー名</dt>
					<dd><input type="text" name="name" size="50" value="${FORM_NAME}" /></dd>
				<!--FORM_IMAGE_START-->
				<dt>画像</dt>
					<dd><input type="file" name="image" size="30" />${FORM_IMAGE}</dd>
				<!--FORM_IMAGE_END-->
			</dl>
			<p><input type="submit" name="exec_regist" value="登録する" /></p>
		</fieldset>
	</form>
</div>
<!--SKIN_FORM_END-->
