<!--SKIN_MENU_HEAD_START-->
<ul>
<!--SKIN_MENU_HEAD_END-->

	<!--SKIN_MENU_START-->
	<li><a href="${MENU_URL}">${MENU_INFO}</a></li>
	<!--SKIN_MENU_END-->

<!--SKIN_MENU_FOOT_START-->
</ul>
<!--SKIN_MENU_FOOT_END-->
